---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/coin_wallets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"18e1a85b47c59778482d9ac601412a6d"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"3194","type":"coin_wallets","attributes":{"balance":0.01034418,"available":0.00834418,"currency":"btc","address":"1GvKbT2Jpgh3PM14awmEUVpQwCAaUx6Tqw","auto_sell_address":"1EZ3QhJNKYgUv2FEcNViFPvX54xTXmyxGG"}},{"id":"341956","type":"coin_wallets","attributes":{"balance":0.53079464,"available":0.53079464,"currency":"bch","address":"bitcoincash:qp5f5avjqlfpnvj90err940azvd08rx3lgz8v03lyk","auto_sell_address":""}}]}'
  recorded_at: Mon, 21 Jan 2019 20:15:57 GMT
recorded_with: VCR 4.0.0
