---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/coin_wallets?filter%5Bid%5D=usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"eb640f13e7c8f173ffac648ed16e910c"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"81","type":"coin_wallets","attributes":{"balance":322.942525,"available":318.942525,"currency":"btc","address":"mrxMVFpSxVTsdjxF2QSj2CrRvM8rMGBrkq","auto_sell_address":"mrCSzD81b2gZmKVyFVofc6NW9ct4By3nqA"}},{"id":"86","type":"coin_wallets","attributes":{"balance":0.0,"available":0.0,"currency":"bch","address":"bchtest:qpdkl7n9d8vszezn9gdl250jugu0mv00yywfk0uxxj","auto_sell_address":"bchtest:qp6j5hnymrr0jhv88udl7zx8qfjh2wzdqywj3q0957"}}]}'
  recorded_at: Sun, 02 Dec 2018 14:13:10 GMT
recorded_with: VCR 4.0.0
