---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/coin_wallets/3194
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3ef991ec74746d6a34c5e2fe2a61c42b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"3194","type":"coin_wallets","attributes":{"balance":0.01034418,"available":0.00834418,"currency":"btc","address":"1GvKbT2Jpgh3PM14awmEUVpQwCAaUx6Tqw","auto_sell_address":"1EZ3QhJNKYgUv2FEcNViFPvX54xTXmyxGG"}}}'
  recorded_at: Mon, 21 Jan 2019 20:18:54 GMT
recorded_with: VCR 4.0.0
