---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/withdrawal_instructions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"14090bc3094909290087b1683aeb2b60"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"15234","type":"withdrawal_instructions","attributes":{"label":"pase","schema":"bitex","body":{"country":"AR","payment_method":"third_party","name":"-","city":"-","phone":"-","further_instructions":"-","currency":"ARS"}}},{"id":"15414","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"account_type":"savings","address":"a
        address","bank":"hsbc","bank_account_number":"12345678","cbu":"1234567812345678","cuit":"20112233344552","city":"Dimension
        C-132","country":"AR","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"domestic_bank","phone":"1122334455"}}},{"id":"15415","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"account_type":"savings","address":"a
        address","bank":"bco_chile","bank_account_number":"12345678","bank_address":"a
        bank address","bank_city":"a bank city","bank_country":"CL","bank_postal_code":"AABBCC","bank_swift":"BANKUS66","postal_code":"XXYYZZ","city":"Dimension
        C-132","country":"CL","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"international_bank","phone":"1122334455"}}},{"id":"15416","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"city":"Dimension
        C-132","country":"PY","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"third_party","phone":"1122334455"}}}]}'
  recorded_at: Mon, 21 Jan 2019 20:39:44 GMT
recorded_with: VCR 4.0.0
