---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/withdrawal_instructions/13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"b01f3dd9d4e3fb1c6c04e1f37b9f4ca5"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"13","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"account_type":"savings","address":"a
        address","bank":"hsbc","bank_account_number":"12345678","cbu":"1234567812345678","cuit":"20112233344552","city":"Dimension
        C-132","country":"AR","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"domestic_bank","phone":"1122334455"}}}}'
  recorded_at: Sun, 02 Dec 2018 15:09:48 GMT
recorded_with: VCR 4.0.0
