---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/withdrawal_instructions/15416
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"cb478539041d885a25ab728c4aeb508b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"15416","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"city":"Dimension
        C-132","country":"PY","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"third_party","phone":"1122334455"}}}}'
  recorded_at: Mon, 21 Jan 2019 20:52:32 GMT
recorded_with: VCR 4.0.0
