---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/cash_wallets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"0d312262df5f632b8b0327edb54b7456"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"usd","type":"cash_wallets","attributes":{"balance":49444.89,"available":47444.89,"currency":"usd"}},{"id":"ars","type":"cash_wallets","attributes":{"balance":985024.0,"available":985024.0,"currency":"ars"}},{"id":"uyu","type":"cash_wallets","attributes":{"balance":0.0,"available":0.0,"currency":"uyu"}},{"id":"clp","type":"cash_wallets","attributes":{"balance":0.0,"available":0.0,"currency":"clp"}},{"id":"pyg","type":"cash_wallets","attributes":{"balance":0.0,"available":0.0,"currency":"pyg"}}]}'
  recorded_at: Sun, 02 Dec 2018 12:48:33 GMT
recorded_with: VCR 4.0.0
