---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/cash_wallets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"0daa456b454cdb64469140c75bfdefce"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"usd","type":"cash_wallets","attributes":{"balance":264.0,"available":244.0,"currency":"usd"}},{"id":"ars","type":"cash_wallets","attributes":{"balance":874.18,"available":874.18,"currency":"ars"}},{"id":"uyu","type":"cash_wallets","attributes":{"balance":0.0,"available":0.0,"currency":"uyu"}},{"id":"clp","type":"cash_wallets","attributes":{"balance":17.77,"available":17.77,"currency":"clp"}},{"id":"pyg","type":"cash_wallets","attributes":{"balance":347227.84,"available":347227.84,"currency":"pyg"}}]}'
  recorded_at: Mon, 21 Jan 2019 20:08:34 GMT
recorded_with: VCR 4.0.0
