---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/cash_wallets/usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"39f78b7470b1525657d95d6d01459e16"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"usd","type":"cash_wallets","attributes":{"balance":264.0,"available":244.0,"currency":"usd"}}}'
  recorded_at: Mon, 21 Jan 2019 20:12:12 GMT
recorded_with: VCR 4.0.0
