---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/buys?filter%5Bdays%5D=10&filter%5Borderbook_code%5D=btc_usd&limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"86842eef17c82b1fa72c168c328ef1f0"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"39","type":"buys","attributes":{"created_at":"2018-11-30T21:53:40.966Z","coin_amount":1.995,"cash_amount":300.0,"fee":0.005,"price":150.0,"fee_currency":"BTC","fee_decimals":8},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}},"order":{"data":{"id":"41","type":"bids"}}}},{"id":"38","type":"buys","attributes":{"created_at":"2018-11-30T21:53:40.935Z","coin_amount":0.887775,"cash_amount":89.0,"fee":0.002225,"price":100.0,"fee_currency":"BTC","fee_decimals":8},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}},"order":{"data":{"id":"41","type":"bids"}}}},{"id":"37","type":"buys","attributes":{"created_at":"2018-11-30T21:53:24.698Z","coin_amount":1.107225,"cash_amount":111.0,"fee":0.002775,"price":100.0,"fee_currency":"BTC","fee_decimals":8},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}},"order":{"data":{"id":"40","type":"bids"}}}},{"id":"36","type":"buys","attributes":{"created_at":"2018-11-30T21:53:24.679Z","coin_amount":1.995,"cash_amount":200.0,"fee":0.005,"price":100.0,"fee_currency":"BTC","fee_decimals":8},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}},"order":{"data":{"id":"40","type":"bids"}}}},{"id":"35","type":"buys","attributes":{"created_at":"2018-11-30T21:53:24.658Z","coin_amount":0.488775,"cash_amount":49.0,"fee":0.001225,"price":100.0,"fee_currency":"BTC","fee_decimals":8},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}},"order":{"data":{"id":"40","type":"bids"}}}}],"included":[{"id":"1","type":"orderbooks","attributes":{"code":"btc_usd","base":{"code":"btc","decimals":8},"quote":{"code":"usd","decimals":2}}}]}'
  recorded_at: Sun, 02 Dec 2018 00:17:37 GMT
recorded_with: VCR 4.0.0
