---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/buys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"f584f26001543a80d5ce36c311be9deb"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"162689","type":"buys","attributes":{"created_at":"2019-01-16T19:47:45.270Z","coin_amount":0.01838662,"cash_amount":400000.0,"fee":0.00004608,"price":21700560.10681748,"fee_currency":"BTC","fee_decimals":8,"orderbook_code":"btc_pyg"},"relationships":{"order":{"data":{"id":"36206038","type":"bids"}}}},{"id":"162688","type":"buys","attributes":{"created_at":"2019-01-16T19:27:31.178Z","coin_amount":0.00281768,"cash_amount":10.0,"fee":0.00000706,"price":3540.14176434,"fee_currency":"BCH","fee_decimals":8,"orderbook_code":"bch_usd"},"relationships":{"order":{"data":{"id":"36204476","type":"bids"}}}},{"id":"161265","type":"buys","attributes":{"created_at":"2019-01-14T13:47:47.240Z","coin_amount":0.00280668,"cash_amount":59900.0,"fee":0.00000703,"price":21[...]
