---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/buys?filter%5Bdays%5D=15&filter%5Borderbook_code%5D=btc_usd&limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - my_awesome_api_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"536a6bd4e10e1d07bd4128b4fe96874b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"159862","type":"buys","attributes":{"created_at":"2019-01-08T19:43:34.534Z","coin_amount":0.00248127,"cash_amount":10.0,"fee":0.00000621,"price":4020.13208048,"fee_currency":"BTC","fee_decimals":8,"orderbook_code":"btc_usd"},"relationships":{"order":{"data":{"id":"35453058","type":"bids"}}}},{"id":"159839","type":"buys","attributes":{"created_at":"2019-01-08T19:21:18.062Z","coin_amount":0.0024851,"cash_amount":10.0,"fee":0.00000622,"price":4013.92044241,"fee_currency":"BTC","fee_decimals":8,"orderbook_code":"btc_usd"},"relationships":{"order":{"data":{"id":"35452001","type":"bids"}}}},{"id":"159818","type":"buys","attributes":{"created_at":"2019-01-08T18:51:49.298Z","coin_amount":0.00248624,"cash_amount":10.0,"fee":0.00000623,"price":4012.0[...]
