---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/buys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"eed57fdca1c2b50812ee8f082369b9e4"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"42","type":"buys","attributes":{"created_at":"2018-11-30T22:23:13.836Z","coin_amount":2.9925,"cash_amount":6000.0,"fee":0.0075,"price":2000.0,"fee_currency":"BTC","fee_decimals":8},"relationships":{"orderbook":{"data":{"id":"5","type":"orderbooks"}},"order":{"data":{"id":"45","type":"bids"}}}},{"id":"41","type":"buys","attributes":{"created_at":"2018-11-30T22:22:46.584Z","coin_amount":1.995,"cash_amount":2000.0,"fee":0.005,"price":1000.0,"fee_currency":"BTC","fee_decimals":8},"relationships":{"orderbook":{"data":{"id":"5","type":"orderbooks"}},"order":{"data":{"id":"44","type":"bids"}}}},{"id":"40","type":"buys","attributes":{"created_at":"2018-11-30T22:22:31.312Z","coin_amount":1.995,"cash_amount":2000.0,"fee":0.005,"price":1000.0,"fee_currency":"[...]
