---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/transactions/163393
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4696ddad9ca1ba011253c92a803fcfcc"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"163393","type":"transactions","attributes":{"timestamp":1548076109,"price":137415.94,"amount":0.00145543,"orderbook_code":"btc_ars"}}}'
  recorded_at: Mon, 21 Jan 2019 14:09:39 GMT
recorded_with: VCR 4.0.0
