---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/trades
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"98945316d5402e5f72a96bc2a14d913f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"161266","type":"sells","attributes":{"created_at":"2019-01-14T13:47:52.468Z","coin_amount":0.00499999,"cash_amount":104329.2410205,"fee":261.47679453,"price":20918143.56300768,"fee_currency":"PYG","fee_decimals":2,"orderbook_code":"btc_pyg"},"relationships":{"order":{"data":{"id":"35888964","type":"asks"}}}},{"id":"161265","type":"buys","attributes":{"created_at":"2019-01-14T13:47:47.240Z","coin_amount":0.00280668,"cash_amount":59900.0,"fee":0.00000703,"price":21288564.17806563,"fee_currency":"BTC","fee_decimals":8,"orderbook_code":"btc_pyg"},"relationships":{"order":{"data":{"id":"35985296","type":"bids"}}}},{"id":"161264","type":"sells","attributes":{"created_at":"2019-01-14T13:45:04.320Z","coin_amount":0.00499999,"cash_amount":104340.46568294,"fee":261.5[...]
