---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/trades
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"9c5586af03e4d9939c3a750b95d1a395"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"42","type":"buys","attributes":{"created_at":"2018-11-30T22:23:13.836Z","coin_amount":2.9925,"cash_amount":6000.0,"fee":0.0075,"price":2000.0,"fee_currency":"BTC","fee_decimals":8},"relationships":{"orderbook":{"data":{"id":"5","type":"orderbooks"}},"order":{"data":{"id":"45","type":"bids"}}}},{"id":"42","type":"sells","attributes":{"created_at":"2018-11-30T22:23:13.836Z","coin_amount":3.0,"cash_amount":5985.0,"fee":15.0,"price":2000.0,"fee_currency":"ARS","fee_decimals":2},"relationships":{"orderbook":{"data":{"id":"5","type":"orderbooks"}},"order":{"data":{"id":"38","type":"asks"}}}},{"id":"41","type":"buys","attributes":{"created_at":"2018-11-30T22:22:46.584Z","coin_amount":1.995,"cash_amount":2000.0,"fee":0.005,"price":1000.0,"fee_currency":"BT[...]
