---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/buys/162689
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"6ed0e776a74a905a0a21d3048252e777"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"162689","type":"buys","attributes":{"created_at":"2019-01-16T19:47:45.270Z","coin_amount":0.01838662,"cash_amount":400000.0,"fee":0.00004608,"price":21700560.10681748,"fee_currency":"BTC","fee_decimals":8,"orderbook_code":"btc_pyg"},"relationships":{"order":{"data":{"id":"36206038","type":"bids"}}}}}'
  recorded_at: Wed, 16 Jan 2019 21:24:42 GMT
recorded_with: VCR 4.0.0
