---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/merchants/payments
    body:
      encoding: UTF-8
      string: '{"data":{"type":"payments","attributes":{"amount":100,"currency":1,"keep":10,"callback_url":"https://myawesomesite.com/webhook","customer_reference":"Purchase
        at My Store","merchant_reference":"Sale id: 2212"}}}'
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"e8258c4c1df54e5fa38ad2629a35da5a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1534","type":"payments","attributes":{"amount":100.0,"callback_url":"https://myawesomesite.com/webhook","confirmed_quantity":0.0,"currency_code":"btc","customer_reference":"Purchase
        at My Store","expected_quantity":100.0,"keep":10.0,"kept":null,"last_quoted_on":"2019-01-24T16:39:48.700Z","merchant_reference":"Sale
        id: 2212","overpaid":null,"quote_valid_until":"2019-01-24T17:39:48.626Z","settlement_amount":null,"settlement_currency":null,"status":"pending","unconfirmed_quantity":0.0,"valid_until":"2019-01-24T17:39:48.626Z"},"relationships":{"address":{"data":{"id":"7073","type":"bitcoin_addresses"}},"coin_deposits":{"data":[]}}},"included":[{"id":"7073","type":"bitcoin_addresses","attributes":{"auto_sell":false,"public_address":"msxBvPqGCUxdnnNHimAzpBajctvPpcc5Ge"},"relationships":{"user":{"data":{"id":"592","type":"users"}},"payment":{"data":{"id":"1534","type":"payments"}}}}]}'
  recorded_at: Thu, 24 Jan 2019 16:39:48 GMT
recorded_with: VCR 4.0.0
