---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/merchants/payments
    body:
      encoding: UTF-8
      string: '{"data":{"type":"payments","attributes":{"type":"payments","amount":100,"currency":1,"keep":10,"callback_url":"https://myawesomesite.com/webhook","customer_reference":"Purchase
        at My Store","merchant_reference":"Sale id: 2212"}}}'
    headers:
      Authorization:
      - write_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"527119d37a5fa1b19afc76e5120de1e3"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5","type":"payments","attributes":{"amount":100.0,"callback_url":"https://myawesomesite.com/webhook","confirmed_quantity":0.0,"currency":"btc","customer_reference":"Purchase
        at My Store","expected_quantity":100.0,"keep":10.0,"kept":null,"last_quoted_on":"2018-12-02T22:22:50.867Z","merchant_reference":"Sale
        id: 2212","overpaid":null,"quote_valid_until":"2018-12-02T23:22:50.709Z","settlement_amount":null,"settlement_currency":null,"status":"pending","unconfirmed_quantity":0.0,"valid_until":"2018-12-02T23:22:50.709Z"},"relationships":{"address":{"data":{"id":"29","type":"bitcoin_addresses"}},"coin_deposits":{"data":[]}}},"included":[{"id":"29","type":"bitcoin_addresses","attributes":{"auto_sell":false,"public_address":"mipLWqDPAfr2cAcGC8GFbfLLbcY4sWnxA5"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"payment":{"data":{"id":"5","type":"payments"}}}}]}'
  recorded_at: Sun, 02 Dec 2018 22:22:51 GMT
recorded_with: VCR 4.0.0
