---
http_interactions:
- request:
    method: post
    uri: https://bitex.la/api/merchants/payments
    body:
      encoding: UTF-8
      string: '{"data":{"type":"payments","attributes":{"type":"payments","amount":100,"currency":1,"keep":10,"callback_url":"https://myawesomesite.com/webhook","customer_reference":"Purchase
        at My Store","merchant_reference":"Sale id: 2212"}}}'
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d6dcdce17bdb450e518146c0e8ebbce7"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1506","type":"payments","attributes":{"amount":100.0,"callback_url":"https://myawesomesite.com/webhook","confirmed_quantity":0.0,"currency_code":"btc","customer_reference":"Purchase
        at My Store","expected_quantity":100.0,"keep":10.0,"kept":null,"last_quoted_on":"2019-01-22T16:01:26.576Z","merchant_reference":"Sale
        id: 2212","overpaid":null,"quote_valid_until":"2019-01-22T17:01:26.525Z","settlement_amount":null,"settlement_currency":null,"status":"pending","unconfirmed_quantity":0.0,"valid_until":"2019-01-22T17:01:26.525Z"},"relationships":{"address":{"data":{"id":"7037","type":"bitcoin_addresses"}},"coin_deposits":{"data":[]}}},"included":[{"id":"7037","type":"bitcoin_addresses","attributes":{"auto_sell":false,"public_address":"moDdTpGuVibtgLwicgWDThKAviRgnsSeX5"},"relationships":{"user":{"data":{"id":"523","type":"users"}},"payment":{"data":{"id":"1506","type":"payments"}}}}]}'
  recorded_at: Tue, 22 Jan 2019 16:01:26 GMT
recorded_with: VCR 4.0.0
