---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/merchants/payments/328
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"36329a198f8c0f6f1571272b18dfac80"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"328","type":"payments","attributes":{"amount":10.0,"callback_url":null,"confirmed_quantity":0.00285,"currency_code":"ars","customer_reference":"Tarjeta
        Azul","expected_quantity":0.00285,"keep":10.0,"kept":0.00285,"last_quoted_on":"2015-09-03T14:31:37.000Z","merchant_reference":null,"overpaid":0.0,"quote_valid_until":"2015-09-03T14:32:37.000Z","settlement_amount":null,"settlement_currency":null,"status":"settled","unconfirmed_quantity":0.00285,"valid_until":"2015-09-03T15:31:37.000Z"},"relationships":{"address":{"data":{"id":"38500","type":"bitcoin_addresses"}},"coin_deposits":{"data":[{"id":"2920","type":"coin_deposits"}]}}},"included":[{"id":"38500","type":"bitcoin_addresses","attributes":{"auto_sell":false,"public_address":"19ygohr288PgzQxer2qHoJ3UeMacDM1KWc"},"relationships":{"user":{"data":{"id":"3197","type":"users"}},"payment":{"data":{"id":"328","type":"payments"}}}},{"id":"2920","type":"coin_deposits","attributes":{"coin":"btc","amount":0.00285,"created_at":"2015-09-03T14:51:12.000Z"},"relationships":{"address":{"data":{"id":"38500","type":"bitcoin_addresses"}}}}]}'
  recorded_at: Tue, 22 Jan 2019 15:49:16 GMT
recorded_with: VCR 4.0.0
