---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/allowance_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"allowance_seeds","attributes":{"type":"allowance_seeds","kind_code":"usd"}}}'
    headers:
      Authorization:
      - client3_write_level_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"e749212fabc4d8850b604d8f718a419d"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"allowance_seeds","attributes":{"kind_code":"usd","created_at":"2018-12-03T00:15:32.000Z","updated_at":"2018-12-03T00:15:32.000Z"},"relationships":{"issue":{"data":{"id":"2","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 03 Dec 2018 00:15:32 GMT
recorded_with: VCR 4.0.0
