---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/allowance_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"allowance_seeds","attributes":{"type":"allowance_seeds","kind_code":"usd"}}}'
    headers:
      Authorization:
      - 68736233ac5ee1bb57cd69b241a97be564d3f6b2d1ca2fa7702c3872063d54d7554a6c9e81ba44fc
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"a010a199a016bb6de17068ac4d3a86f4"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"97","type":"allowance_seeds","attributes":{"kind_code":"usd","created_at":"2019-01-22T19:34:16.000Z","updated_at":"2019-01-22T19:34:16.000Z"},"relationships":{"issue":{"data":{"id":"1435","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Tue, 22 Jan 2019 19:34:17 GMT
recorded_with: VCR 4.0.0
