---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/allowance_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"allowance_seeds","attributes":{"kind_code":"usd"}}}'
    headers:
      Authorization:
      - your_magic_api_key;
        user=601
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"429c63d64503bc86972352523f0f5657"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"100","type":"allowance_seeds","attributes":{"kind_code":"usd","created_at":"2019-01-28T21:14:34.000Z","updated_at":"2019-01-28T21:14:34.000Z"},"relationships":{"issue":{"data":{"id":"1521","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 28 Jan 2019 21:14:34 GMT
recorded_with: VCR 4.0.0
