---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/note_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"note_seeds","attributes":{"type":"note_seeds","title":"Identification
        note","body":"These are custom notes"}}}'
    headers:
      Authorization:
      - read_level_key
      Version:
      - 2.0
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Not enough permissions"}'
  recorded_at: Sat, 10 Nov 2018 16:18:40 GMT
recorded_with: VCR 4.0.0
