---
http_interactions:
- request:
    method: post
    uri: https://bitex.la/api/cash_withdrawals
    body:
      encoding: UTF-8
      string: '{"data":{"type":"cash_withdrawals","relationships":{"withdrawal_instruction":{"data":{"type":"withdrawal_instructions","id":"15234"}}},"attributes":{"type":"cash_withdrawals","amount":150,"fiat_code":"ars"}}}'
    headers:
      One-Time-Password:
      - '635198'
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"77e0e0ad4690cffa006993120448009a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"29559","type":"cash_withdrawals","attributes":{"status":"received","amount":150.0,"gross_amount":150.0,"cost":0.0,"fee":0.0,"net_amount":150.0,"country":"AR","payment_method":"third_party","fiat_code":"ars","label":"pase","created_at":"2019-01-22T14:59:22.544Z"},"relationships":{"withdrawal_instruction":{"data":{"id":"15234","type":"withdrawal_instructions"}},"funding_receipt":{"data":null}}},"included":[{"id":"15234","type":"withdrawal_instructions","attributes":{"label":"pase","schema":"bitex","body":{"country":"AR","payment_method":"third_party","name":"-","city":"-","phone":"-","further_instructions":"-","currency":"ARS"}}}]}'
  recorded_at: Tue, 22 Jan 2019 14:59:45 GMT
recorded_with: VCR 4.0.0
