---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/cash_withdrawals
    body:
      encoding: UTF-8
      string: '{"data":{"type":"cash_withdrawals","relationships":{"withdrawal_instruction":{"data":{"type":"withdrawal_instructions","id":"299"}}},"attributes":{"amount":150,"fiat_code":"ars"}}}'
    headers:
      One-Time-Password:
      - '062346'
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"326133664ac4d9164afff6d7bb6890c1"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"594","type":"cash_withdrawals","attributes":{"status":"received","amount":150.0,"gross_amount":150.0,"cost":0.0,"fee":0.0,"net_amount":150.0,"country":"AR","payment_method":"domestic_bank","fiat_code":"ars","label":"label","created_at":"2019-01-24T16:27:44.435Z"},"relationships":{"withdrawal_instruction":{"data":{"id":"299","type":"withdrawal_instructions"}},"funding_receipt":{"data":null}}},"included":[{"id":"299","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"account_type":"savings","address":"a
        address","bank":"hsbc","bank_account_number":"12345678","cbu":"1234567812345678","cuit":"20112233344552","city":"Dimension
        C-132","country":"AR","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"domestic_bank","phone":"1122334455"}}}]}'
  recorded_at: Thu, 24 Jan 2019 16:27:44 GMT
recorded_with: VCR 4.0.0
