---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/api_keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"22cb5440245eb5fd9ab5114ef04139e2"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"31","type":"api_keys","attributes":{"write":false,"token":"**********************************************************************read_level"}},{"id":"32","type":"api_keys","attributes":{"write":true,"token":"**********************************************************************rite_level"}}]}'
  recorded_at: Sun, 02 Dec 2018 23:42:45 GMT
recorded_with: VCR 4.0.0
