---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/api_keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"53181681246b8e76887d3d71b1f09f72"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"176","type":"api_keys","attributes":{"token":"********************5a13b214a2","fund_account":false,"create_withdrawal":false,"get_withdrawal":false,"get_balances":false,"trading":false,"payments":false,"compliance":false,"api_keys":false}},{"id":"177","type":"api_keys","attributes":{"token":"********************a304080bcc","fund_account":false,"create_withdrawal":false,"get_withdrawal":false,"get_balances":false,"trading":false,"payments":false,"compliance":false,"api_keys":false}},{"id":"178","type":"api_keys","attributes":{"token":"********************26d39934ee","fund_account":false,"create_withdrawal":false,"get_withdrawal":false,"get_balances":false,"trading":false,"payments":false,"compliance":false,"api_keys":false}},{"id":"181","type":"api_keys","attributes":{"token":"********************8ddf61f7cd","fund_account":false,"create_withdrawal":false,"get_withdrawal":false,"get_balances":false,"trading":false,"payments":false,"compliance":false,"api_keys":false}},{"id":"182","type":"api_keys","attributes":{"token":"********************07ace49c36","fund_account":false,"create_withdrawal":false,"get_withdrawal":false,"get_balances":false,"trading":false,"payments":false,"compliance":false,"api_keys":false}},{"id":"183","type":"api_keys","attributes":{"token":"********************8e9edd78ab","fund_account":true,"create_withdrawal":true,"get_withdrawal":true,"get_balances":true,"trading":true,"payments":true,"compliance":true,"api_keys":true}}]}'
  recorded_at: Tue, 22 Jan 2019 18:23:18 GMT
recorded_with: VCR 4.0.0
