---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/api_keys
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"fund_account":true,"payments":true,"api_keys":true}}}'
    headers:
      One-Time-Password:
      - '826641'
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"92b66c7423b1426cf4d9d6b5193c81c1"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"187","type":"api_keys","attributes":{"token":"dc554bcaf943cc6b89164d02e9dff24f85c7b5d4e1dda51a6422131a231a466b6e934f8602fa4f98","fund_account":true,"create_withdrawal":false,"get_withdrawal":false,"get_balances":false,"trading":false,"payments":true,"compliance":false,"api_keys":true}}}'
  recorded_at: Thu, 24 Jan 2019 15:34:23 GMT
recorded_with: VCR 4.0.0
