---
http_interactions:
- request:
    method: post
    uri: https://bitex.la/api/api_keys
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"type":"api_keys","fund_account":true,"payments":true,"api_keys":true}}}'
    headers:
      One-Time-Password:
      - '009353'
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"15b318f41185def73bd5308c925e49a6"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"184","type":"api_keys","attributes":{"token":"your_token","fund_account":true,"create_withdrawal":false,"get_withdrawal":false,"get_balances":false,"trading":false,"payments":true,"compliance":false,"api_keys":true}}}'
  recorded_at: Tue, 22 Jan 2019 18:55:15 GMT
recorded_with: VCR 4.0.0
