---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/api_keys/31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3c0b4a2e0b5aa0cdc9b660a0e9400296"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"31","type":"api_keys","attributes":{"write":false,"token":"**********************************************************************read_level"}}}'
  recorded_at: Sun, 02 Dec 2018 23:46:56 GMT
recorded_with: VCR 4.0.0
