---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/api_keys/184
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"15b318f41185def73bd5308c925e49a6"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"184","type":"api_keys","attributes":{"token":"bf5cd9831577960ab5b59acb72c5fd375954ff6ae9bfd8e23ead4b297ffca02cc29fb882f66a9459","fund_account":true,"create_withdrawal":false,"get_withdrawal":false,"get_balances":false,"trading":false,"payments":true,"compliance":false,"api_keys":true}}}'
  recorded_at: Tue, 22 Jan 2019 19:02:37 GMT
recorded_with: VCR 4.0.0
