---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/email_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"email_seeds","attributes":{"type":"email_seeds","address":"person@example.com","email_kind_code":"invoicing"}}}'
    headers:
      Authorization:
      - 68736233ac5ee1bb57cd69b241a97be564d3f6b2d1ca2fa7702c3872063d54d7554a6c9e81ba44fc
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"ef6df526f0eb5bb31b62b9ab6896ab95"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"207","type":"email_seeds","attributes":{"address":"person@example.com","email_kind_code":"invoicing","created_at":"2019-01-22T19:47:32.000Z","updated_at":"2019-01-22T19:47:32.000Z"},"relationships":{"issue":{"data":{"id":"1435","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Tue, 22 Jan 2019 19:47:33 GMT
recorded_with: VCR 4.0.0
