---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/email_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"email_seeds","attributes":{"type":"email_seeds","address":"person@example.com","email_kind_code":"invoicing"}}}'
    headers:
      Authorization:
      - client3_write_level_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"2cebd666a0a3116acb780f41dd3bc960"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"4","type":"email_seeds","attributes":{"address":"person@example.com","email_kind_code":"invoicing","created_at":"2018-12-03T00:55:18.000Z","updated_at":"2018-12-03T00:55:18.000Z"},"relationships":{"issue":{"data":{"id":"2","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 03 Dec 2018 00:55:18 GMT
recorded_with: VCR 4.0.0
