---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/email_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"email_seeds","attributes":{"address":"sdk+invoicing@whitelabeler.com","email_kind_code":"invoicing"}}}'
    headers:
      Authorization:
      - your_magic_api_key;
        user=601
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3d875794b2f434ffe3c3d1eb73a7cad2"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"214","type":"email_seeds","attributes":{"address":"sdk+invoicing@whitelabeler.com","email_kind_code":"invoicing","created_at":"2019-01-28T20:50:07.000Z","updated_at":"2019-01-28T20:50:07.000Z"},"relationships":{"issue":{"data":{"id":"1521","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 28 Jan 2019 20:50:07 GMT
recorded_with: VCR 4.0.0
