---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"39874bc9530f2e9c9f6f444f9abf9fa2"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"btc_usd","type":"tickers","attributes":{"last":3606.81984,"open":3610.0,"high":3641.48,"low":3600.0,"vwap":3621.410318159338,"volume":6.81257954,"bid":3597.03552,"ask":3612.0,"price_before_last":3633.44891457}},{"id":"btc_ars","type":"tickers","attributes":{"last":140231.14049668,"open":138900.0,"high":140231.14049668,"low":137151.01,"vwap":139591.6060384551,"volume":2.7834172,"bid":137151.01,"ask":139933.60446392,"price_before_last":140032.11410746}},{"id":"btc_clp","type":"tickers","attributes":{"last":0.0,"open":0.0,"high":0.0,"low":0.0,"vwap":null,"volume":0.0,"bid":2382484.57913275,"ask":2469006.55979454,"price_before_last":0.0}},{"id":"btc_pyg","type":"tickers","attributes":{"last":21949817.90391016,"open":21949817.90391016,"high":21949817.90391016,"low":21949817.90391016,"vwap":21949817.90391016,"volume":0.00455584,"bid":21589401.6,"ask":21926954.321268,"price_before_last":21700560.10681748}},{"id":"btc_uyu","type":"tickers","attributes":{"last":0.0,"open":0.0,"high":0.0,"low":0.0,"vwap":null,"volume":0.0,"bid":115079.44257239,"ask":120758.30451273,"price_before_last":0.0}},{"id":"bch_usd","type":"tickers","attributes":{"last":127.93229167,"open":128.86428672,"high":128.86428672,"low":127.73177083,"vwap":127.97590995534189,"volume":2.13310792,"bid":125.87208192,"ask":127.13020833,"price_before_last":127.73177083}}]}'
  recorded_at: Fri, 18 Jan 2019 17:47:34 GMT
recorded_with: VCR 4.0.0
