---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/tickers/btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"2219a078477a3a9b09501746936cc6bb"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"btc_usd","type":"tickers","attributes":{"last":3606.81984,"open":3610.0,"high":3641.48,"low":3600.0,"vwap":3621.410318159338,"volume":6.81257954,"bid":3598.2336,"ask":3612.0,"price_before_last":3633.44891457}}}'
  recorded_at: Fri, 18 Jan 2019 17:50:40 GMT
recorded_with: VCR 4.0.0
