---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/markets/btc_usd?include=asks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"56b7b81842b9600d045e1b4ef0e8e198"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[]},"transactions":{"data":[]},"bids":{"data":[]},"asks":{"data":[{"id":"3612.0","type":"order_groups"},{"id":"3622.2063645","type":"order_groups"},{"id":"3622.52838312","type":"order_groups"},{"id":"3633.11518312","type":"order_groups"},{"id":"3641.48","type":"order_groups"},{"id":"3655.2445406","type":"order_groups"},{"id":"4000.0","type":"order_groups"},{"id":"4025.0","type":"order_groups"},{"id":"4049.01","type":"order_groups"},{"id":"4050.0","type":"order_groups"},{"id":"4099.7","type":"order_groups"},{"id":"4100.0","type":"order_groups"},{"id":"[...]
