---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/markets/btc_usd?include=asks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"80f417c600f33f48cedd1b4111dd9b4c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[]},"transactions":{"data":[]},"bids":{"data":[]},"asks":{"data":[{"id":"100.0","type":"order_groups"}]}}},"included":[{"id":"100.0","type":"order_groups","attributes":{"price":100.0,"amount":2.49}}]}'
  recorded_at: Fri, 30 Nov 2018 15:11:49 GMT
recorded_with: VCR 4.0.0
