---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/markets/btc_usd?include=bids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"10e9dbe09b92d03691810ee2ca5aa69a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[]},"transactions":{"data":[]},"bids":{"data":[{"id":"3591.54432","type":"order_groups"},{"id":"3591.22533","type":"order_groups"},{"id":"3591.0","type":"order_groups"},{"id":"3572.9509725","type":"order_groups"},{"id":"3550.0","type":"order_groups"},{"id":"3530.0","type":"order_groups"},{"id":"3500.0","type":"order_groups"},{"id":"3488.0","type":"order_groups"},{"id":"3450.0","type":"order_groups"},{"id":"3400.0","type":"order_groups"},{"id":"3381.0","type":"order_groups"},{"id":"3380.0","type":"order_groups"},{"id":"3350.0","type"[...]
