---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/markets/btc_usd?include=bids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"8052a1418c3018c866dc6d57466a8dcf"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[]},"transactions":{"data":[]},"bids":{"data":[{"id":"50.2","type":"order_groups"}]},"asks":{"data":[]}}},"included":[{"id":"50.2","type":"order_groups","attributes":{"price":50.2,"amount":2.99661354004}}]}'
  recorded_at: Fri, 30 Nov 2018 15:11:50 GMT
recorded_with: VCR 4.0.0
