---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/markets/btc_usd?include=candles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"40b35a226bced9cc378e67e7db03d964"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[{"id":"1543586400_","type":"candles"},{"id":"1543590000_","type":"candles"}]},"transactions":{"data":[]},"bids":{"data":[]},"asks":{"data":[]}}},"included":[{"id":"1543586400_","type":"candles","attributes":{"timestamp":1543586400,"low":50.2,"open":50.2,"close":50.2,"high":50.2,"volume":2.99999999,"price_before_last":50.2,"vwap":50.2},"relationships":{"orderbook":{"data":null}}},{"id":"1543590000_","type":"candles","attributes":{"timestamp":1543590000,"low":100.0,"open":100.0,"close":100.0,"high":100.0,"volume":1.5,"price_before_last":50.2,"vwap":100.0},"relationships":{"orderbook":{"data":null}}}]}'
  recorded_at: Fri, 30 Nov 2018 15:11:51 GMT
recorded_with: VCR 4.0.0
