---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/markets/btc_usd?include=candles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"89230622532c873b8dde33c278656cc6"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[{"id":"1547755200_1","type":"candles"},{"id":"1547758800_1","type":"candles"},{"id":"1547816400_1","type":"candles"},{"id":"1547820000_1","type":"candles"},{"id":"1547823600_1","type":"candles"},{"id":"1547827200_1","type":"candles"},{"id":"1547830800_1","type":"candles"}]},"transactions":{"data":[]},"bids":{"data":[]},"asks":{"data":[]}}},"included":[{"id":"1547755200_1","type":"candles","attributes":{"timestamp":1547755200,"low":3630.0,"open":3630.0,"close":3630.0,"high":3630.0,"volume":2.01408539,"price_before_last":3630.0,"vwap":3630.0,"orderbook_code":"btc_usd"}},{"id":"1547758800_1","type":"candles","attributes":{"timestamp":1547758800,"low":3630.0,"open":3630.0,"close":3630.0,"high":3630.0,"volume":0.33876647,"price_before_last":3630.0,"vwap":3630.0,"orderbook_code":"btc_usd"}},{"id":"1547816400_1","type":"candles","attributes":{"timestamp":1547816400,"low":3626.0,"open":3626.0,"close":3626.0,"high":3626.0,"volume":0.27578599,"price_before_last":3630.0,"vwap":3626.0,"orderbook_code":"btc_usd"}},{"id":"1547820000_1","type":"candles","attributes":{"timestamp":1547820000,"low":3607.0,"open":3607.0,"close":3607.0,"high":3607.0,"volume":0.82434155,"price_before_last":3607.0,"vwap":3607.0,"orderbook_code":"btc_usd"}},{"id":"1547823600_1","type":"candles","attributes":{"timestamp":1547823600,"low":3641.48,"open":3641.48,"close":3641.48,"high":3641.48,"volume":1.19368498,"price_before_last":3607.0,"vwap":3641.48,"orderbook_code":"btc_usd"}},{"id":"1547827200_1","type":"candles","attributes":{"timestamp":1547827200,"low":3600.0,"open":3641.48,"close":3633.44891457,"high":3641.48,"volume":2.13441516,"price_before_last":3605.0,"vwap":3605.860542293374353047604853031497396224,"orderbook_code":"btc_usd"}},{"id":"1547830800_1","type":"candles","attributes":{"timestamp":1547830800,"low":3606.81984,"open":3606.81984,"close":3606.81984,"high":3606.81984,"volume":0.0015,"price_before_last":3633.44891457,"vwap":3606.81984,"orderbook_code":"btc_usd"}}]}'
  recorded_at: Fri, 18 Jan 2019 18:47:11 GMT
recorded_with: VCR 4.0.0
