---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/markets/btc_usd?include=asks,bids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"a1920bbc6f792fafeedc1a6d4b974416"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[]},"transactions":{"data":[]},"bids":{"data":[{"id":"3593.04192","type":"order_groups"},{"id":"3591.744654","type":"order_groups"},{"id":"3591.0","type":"order_groups"},{"id":"3578.2589592","type":"order_groups"},{"id":"3550.0","type":"order_groups"},{"id":"3530.0","type":"order_groups"},{"id":"3500.0","type":"order_groups"},{"id":"3488.0","type":"order_groups"},{"id":"3450.0","type":"order_groups"},{"id":"3400.0","type":"order_groups"},{"id":"3381.0","type":"order_groups"},{"id":"3380.0","type":"order_groups"},{"id":"3350.0","type[...]
