---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/markets/btc_usd?include=transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"8a8b3eb085aa821a0fc63c8e13fa1ece"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[]},"transactions":{"data":[{"id":"163283","type":"transactions"},{"id":"163282","type":"transactions"},{"id":"163281","type":"transactions"},{"id":"163278","type":"transactions"},{"id":"163277","type":"transactions"},{"id":"163276","type":"transactions"},{"id":"163274","type":"transactions"},{"id":"163273","type":"transactions"},{"id":"163272","type":"transactions"},{"id":"163270","type":"transactions"},{"id":"163269","type":"transactions"},{"id":"163268","type":"transactions"}]},"bids":{"data":[]},"asks":{"data":[]}}},"included":[{"id":"163283","type":"transactions","attributes":{"timestamp":1547839675,"price":3591.0,"amount":0.0015,"orderbook_code":"btc_usd"}},{"id":"163282","type":"transactions","attributes":{"timestamp":1547839666,"price":3591.0,"amount":0.0015,"orderbook_code":"btc_usd"}},{"id":"163281","type":"transactions","attributes":{"timestamp":1547839665,"price":3591.0,"amount":0.0015,"orderbook_code":"btc_usd"}},{"id":"163278","type":"transactions","attributes":{"timestamp":1547839612,"price":3591.0,"amount":0.0015,"orderbook_code":"btc_usd"}},{"id":"163277","type":"transactions","attributes":{"timestamp":1547839602,"price":3591.0,"amount":0.0015,"orderbook_code":"btc_usd"}},{"id":"163276","type":"transactions","attributes":{"timestamp":1547839602,"price":3591.0,"amount":0.0015,"orderbook_code":"btc_usd"}},{"id":"163274","type":"transactions","attributes":{"timestamp":1547839549,"price":3591.0,"amount":0.0015,"orderbook_code":"btc_usd"}},{"id":"163273","type":"transactions","attributes":{"timestamp":1547839539,"price":3591.0,"amount":0.0015,"orderbook_code":"btc_usd"}},{"id":"163272","type":"transactions","attributes":{"timestamp":1547839538,"price":3591.0,"amount":0.0015,"orderbook_code":"btc_usd"}},{"id":"163270","type":"transactions","attributes":{"timestamp":1547839486,"price":3592.2432,"amount":0.0015,"orderbook_code":"btc_usd"}},{"id":"163269","type":"transactions","attributes":{"timestamp":1547839476,"price":3592.2432,"amount":0.0015,"orderbook_code":"btc_usd"}},{"id":"163268","type":"transactions","attributes":{"timestamp":1547839476,"price":3592.2432,"amount":0.0015,"orderbook_code":"btc_usd"}}]}'
  recorded_at: Fri, 18 Jan 2019 19:28:22 GMT
recorded_with: VCR 4.0.0
