---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/markets/btc_usd?include=transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"455847ad6cc07d8eccff1412da399e9d"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[]},"transactions":{"data":[{"id":"33","type":"transactions"},{"id":"32","type":"transactions"},{"id":"31","type":"transactions"}]},"bids":{"data":[]},"asks":{"data":[]}}},"included":[{"id":"33","type":"transactions","attributes":{"timestamp":1543590137,"price":100.0,"amount":1.5},"relationships":{"orderbook":{"data":null}}},{"id":"32","type":"transactions","attributes":{"timestamp":1543587955,"price":50.2,"amount":1.00338645},"relationships":{"orderbook":{"data":null}}},{"id":"31","type":"transactions","attributes":{"timestamp":1543587955,"price":50.2,"amount":1.99661354},"relationships":{"orderbook":{"data":null}}}]}'
  recorded_at: Fri, 30 Nov 2018 15:06:39 GMT
recorded_with: VCR 4.0.0
