---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d6a3863feb8e242fa0ad741b8a9d9f23"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"3197","type":"accounts","attributes":{"balances":{"btc":{"total":0.00721248,"available":0.00721248},"usd":{"total":275.50523941,"available":265.50523941},"ars":{"total":874.18839237,"available":874.18839237},"clp":{"total":17.7724575,"available":17.7724575},"bch":{"total":0.53079464,"available":0.53079464},"pyg":{"total":347227.84603779,"available":347227.84603779},"uyu":{"total":0.0,"available":0.0}},"country":"AR"},"relationships":{"movements":{"data":[]},"pending_movements":{"data":[]},"user":{"data":{"id":"3197","type":"users"}}}}],"included":[{"id":"3197","type":"users","attributes":{"name":"Francisco
        Tomas Buero","email":"fb+test123@bitex.la","kyc_accepted":true,"otp_enabled":true,"do_not_email":true,"trezor_login_enabled":false}}]}'
  recorded_at: Wed, 23 Jan 2019 18:34:15 GMT
recorded_with: VCR 4.0.0
