---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"9d564f80c2a71e351dc543a2e5b87146"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"7","type":"accounts","attributes":{"balances":{"btc":{"total":322.942525,"available":318.942525},"usd":{"total":49444.899,"available":47444.899},"ars":{"total":985024.005,"available":985024.005},"clp":{"total":0.0,"available":0.0},"bch":{"total":0.0,"available":0.0},"pyg":{"total":0.0,"available":0.0},"uyu":{"total":0.0,"available":0.0}},"country":"AR"},"relationships":{"movements":{"data":[]},"pending_movements":{"data":[]},"user":{"data":{"id":"7","type":"users"}}}}],"included":[{"id":"7","type":"users","attributes":{"name":"client2@example.com","email":"client2@example.com","kyc_accepted":true,"otp_enabled":true,"do_not_email":false,"trezor_login_enabled":false}}]}'
  recorded_at: Mon, 03 Dec 2018 03:42:14 GMT
recorded_with: VCR 4.0.0
