---
http_interactions:
- request:
    method: post
    uri: https://bitex.la/api/withdrawal_instructions
    body:
      encoding: UTF-8
      string: '{"data":{"type":"withdrawal_instructions","attributes":{"type":"withdrawal_instructions","label":"label","body":{"account_type":"savings","address":"a
        address","bank":"hsbc","bank_account_number":"12345678","cbu":"1234567812345678","cuit":"20112233344552","city":"Dimension
        C-132","country":"AR","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"domestic_bank","phone":"1122334455"}}}}'
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"cb34a57bc21806875036940c1f7dd742"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"15414","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"account_type":"savings","address":"a
        address","bank":"hsbc","bank_account_number":"12345678","cbu":"1234567812345678","cuit":"20112233344552","city":"Dimension
        C-132","country":"AR","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"domestic_bank","phone":"1122334455"}}}}'
  recorded_at: Mon, 21 Jan 2019 20:37:54 GMT
recorded_with: VCR 4.0.0
