---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/withdrawal_instructions
    body:
      encoding: UTF-8
      string: '{"data":{"type":"withdrawal_instructions","attributes":{"label":"label","body":{"city":"Dimension
        C-132","country":"PY","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"third_party","phone":"1122334455"}}}}'
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"01c20409cf6a3c1c6f204676c7fb9b9f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"300","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"city":"Dimension
        C-132","country":"PY","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"third_party","phone":"1122334455"}}}}'
  recorded_at: Thu, 24 Jan 2019 16:09:00 GMT
recorded_with: VCR 4.0.0
