---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/withdrawal_instructions
    body:
      encoding: UTF-8
      string: '{"data":{"type":"withdrawal_instructions","attributes":{"type":"withdrawal_instructions","label":"label","body":{"city":"Dimension
        C-132","country":"PY","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"third_party","phone":"1122334455"}}}}'
    headers:
      Authorization:
      - write_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4cbf6661e403bf78ab364d775bf418c3"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"18","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"city":"Dimension
        C-132","country":"PY","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"third_party","phone":"1122334455"}}}}'
  recorded_at: Sun, 02 Dec 2018 15:13:18 GMT
recorded_with: VCR 4.0.0
