---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/buying_bots
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"be91521933cedfc99ec614f02fbccf53"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"5","type":"buying_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-12-02T02:55:41.248Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"6","type":"buying_bots","attributes":{"amount":100000.0,"remaining_amount":100000.0,"chunk_size":5000.0,"eta":"2018-12-02T02:57:49.413Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"7","type":"buying_bots","attributes":{"amount":200000.0,"remaining_amount":200000.0,"chunk_size":10000.0,"eta":"2018-12-02T02:58:16.289Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}]}'
  recorded_at: Sun, 02 Dec 2018 02:29:05 GMT
recorded_with: VCR 4.0.0
