---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/buying_bots
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"6ff7cd887bcc3734888060a0b33acb19"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1429","type":"buying_bots","attributes":{"amount":400000.0,"remaining_amount":0.0,"chunk_size":400000.0,"eta":"2019-01-16T19:58:55.413Z","executing":false,"to_cancel":false,"orderbook_code":"btc_pyg"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}]}'
  recorded_at: Fri, 18 Jan 2019 15:46:51 GMT
recorded_with: VCR 4.0.0
