---
http_interactions:
- request:
    method: post
    uri: https://bitex.la/api/buying_bots
    body:
      encoding: UTF-8
      string: '{"data":{"type":"buying_bots","attributes":{"type":"buying_bots","orderbook_code":"btc_usd","amount":100}}}'
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"ab199dfef4b63f11265518bd05461787"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1432","type":"buying_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2019-01-18T16:34:56.092Z","executing":true,"to_cancel":false,"orderbook_code":"btc_usd"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}}'
  recorded_at: Fri, 18 Jan 2019 16:04:55 GMT
recorded_with: VCR 4.0.0
