---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/buying_bots
    body:
      encoding: UTF-8
      string: '{"data":{"type":"buying_bots","attributes":{"orderbook_code":"btc_usd","amount":100}}}'
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"2f67615d3d01ae05d472076480e20ce1"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"16","type":"buying_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2019-01-24T16:20:11.985Z","executing":true,"to_cancel":false,"orderbook_code":"btc_usd"},"relationships":{"user":{"data":{"id":"592","type":"users"}}}}}'
  recorded_at: Thu, 24 Jan 2019 15:50:12 GMT
recorded_with: VCR 4.0.0
