---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/buying_bots
    body:
      encoding: UTF-8
      string: '{"data":{"type":"buying_bots","relationships":{"orderbook":{"data":{"type":"orderbooks","id":1}}},"attributes":{"type":"buying_bots","amount":100000}}}'
    headers:
      Authorization:
      - write_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"54c627de4e8a282b9c1f9bcffe8a13f5"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6","type":"buying_bots","attributes":{"amount":100000.0,"remaining_amount":100000.0,"chunk_size":5000.0,"eta":"2018-12-02T02:57:49.413Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Sun, 02 Dec 2018 02:27:49 GMT
recorded_with: VCR 4.0.0
