---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/buying_bots/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"03dce453f4814d11a7383fda629d99f3"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5","type":"buying_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-12-02T02:55:41.248Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Sun, 02 Dec 2018 02:33:06 GMT
recorded_with: VCR 4.0.0
