---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/buying_bots/1432
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"e2d5666dfc7c19d74929259d894d3b82"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1432","type":"buying_bots","attributes":{"amount":100.0,"remaining_amount":85.0,"chunk_size":5.0,"eta":"2019-01-18T16:38:14.488Z","executing":true,"to_cancel":false,"orderbook_code":"btc_usd"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}}'
  recorded_at: Fri, 18 Jan 2019 16:08:15 GMT
recorded_with: VCR 4.0.0
