---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/sells/159865
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - my_awesome_api_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"f946823c6a5044d3bfce618f76214c38"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"159865","type":"sells","attributes":{"created_at":"2019-01-08T19:44:48.938Z","coin_amount":0.00751251,"cash_amount":30.01755121,"fee":0.07523195,"price":4005.68426619,"fee_currency":"USD","fee_decimals":2,"orderbook_code":"btc_usd"},"relationships":{"order":{"data":{"id":"35357891","type":"asks"}}}}}'
  recorded_at: Wed, 16 Jan 2019 20:49:48 GMT
recorded_with: VCR 4.0.0
