---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/cash_withdrawals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"73a8f61a0b84c4432895e3f2296758cc"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1","type":"cash_withdrawals","attributes":{"status":"pending","amount":12,"gross_amount":12,"cost":0,"fee":0,"net_amount":12,"country":"OTHER","payment_method":"international_bank","fiat_code":"CLP","label":"internacional","created_at":"2018-10-30T17:29:14.309Z"},"relationships":{"withdrawal_instruction":{"data":{"id":"1","type":"withdrawal_instructions"}},"funding_receipt":{"data":{"id":"1","type":"invoicing_funding_receipts"}}}},"included":[{"id":"1","type":"withdrawal_instructions","attributes":{"label":"internacional","schema":"bitex","body":{"name":"John Doe","city":"caba","phone":"12341234","address":"calle falsa 123","postal_code":"1234","bank_account_number":"1234123412341234","account_type":"savings","bank":"lalala bank","bank_swift":"1234123412341234","bank_country":"CL","bank_city":"santiago","bank_address":"calle falsa 321","bank_postal_code":"1234","fiat_code":"CLP","payment_method":"international_bank", "country":"OTHER"}}},{"id":"1","type":"invoicing_funding_receipts","attributes":{"invoice_code":"1234","receipt_type":{"attributes":{"id":1,"code":"a"},"id":1,"code":"a"},"customer_tax_id_type":{"attributes":{"id":1,"code":"rut"},"id":1,"code":"rut"},"customer_id_number":"45645555","customer_name":"John Doe","customer_country":"CL","customer_vat_status":{"attributes":{"id":1,"code":"inscripto"},"id":1,"code":"inscripto"},"point_of_sale":1,"amount":21,"tax":2}}]}'
  recorded_at: Mon, 21 Jan 2019 22:38:00 GMT
recorded_with: VCR 4.0.0
