---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/cash_withdrawals?filter%5Bfrom%5D=2018-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"ef7926ea507bbaec53a78c5f67ccc8fd"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"2","type":"cash_withdrawals","attributes":{"status":"received","amount":1000.0,"gross_amount":1000.0,"cost":0.0,"fee":0.0,"net_amount":1000.0,"country":"CL","payment_method":"international_bank","currency":"USD","label":"label","created_at":"2018-12-02T17:26:42.996Z"},"relationships":{"withdrawal_instruction":{"data":{"id":"14","type":"withdrawal_instructions"}},"funding_receipt":{"data":null}}}],"included":[{"id":"14","type":"withdrawal_instructions","attributes":{"label":"label","schema":"bitex","body":{"account_type":"savings","address":"a
        address","bank":"bco_chile","bank_account_number":"12345678","bank_address":"a
        bank address","bank_city":"a bank city","bank_country":"CL","bank_postal_code":"AABBCC","bank_swift":"BANKUS66","postal_code":"XXYYZZ","city":"Dimension
        C-132","country":"CL","currency":"USD","further_instructions":"A further instructions","name":"Rick
        Sanchez","payment_method":"international_bank","phone":"1122334455"}}}]}'
  recorded_at: Sun, 02 Dec 2018 17:39:30 GMT
recorded_with: VCR 4.0.0
