---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/cash_withdrawals?filter%5Bfrom%5D=2018-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"73a8f61a0b84c4432895e3f2296758cc"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"28787","type":"cash_withdrawals","attributes":{"status":"settled","amount":500.0,"gross_amount":500.0,"cost":0.0,"fee":0.0,"net_amount":500.0,"country":"AR","payment_method":"third_party","fiat_code":"usd","label":"pase","created_at":"2019-01-16T19:45:37.657Z"},"relationships":{"withdrawal_instruction":{"data":{"id":"15234","type":"withdrawal_instructions"}},"funding_receipt":{"data":null}}}],"included":[{"id":"15234","type":"withdrawal_instructions","attributes":{"label":"pase","schema":"bitex","body":{"country":"AR","payment_method":"third_party","name":"-","city":"-","phone":"-","further_instructions":"-","currency":"ARS"}}}]}'
  recorded_at: Mon, 21 Jan 2019 22:38:00 GMT
recorded_with: VCR 4.0.0
