---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/candles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"77d02ed164de4e57a5924c242dff724c"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1548007200_1","type":"candles","attributes":{"timestamp":1548007200,"low":3544.69693467,"open":3544.69693467,"close":3544.69693467,"high":3544.69693467,"volume":0.03949561,"price_before_last":3512.18,"vwap":3544.69693467,"orderbook_code":"btc_usd"}},{"id":"1548018000_1","type":"candles","attributes":{"timestamp":1548018000,"low":3565.16964824,"open":3565.16964824,"close":3565.16964824,"high":3565.16964824,"volume":0.23569705,"price_before_last":3544.69693467,"vwap":3565.16964824,"orderbook_code":"btc_usd"}},{"id":"1548039600_1","type":"candles","attributes":{"timestamp":1548039600,"low":3539.99,"open":3539.99,"close":3539.99,"high":3539.99,"volume":0.08833358,"price_before_last":3565.16964824,"vwap":3539.99,"orderbook_code":"btc[...]
