---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/candles?filter%5Bdays%5D=10&filter%5Borderbook_code%5D=btc_usd&span=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"fff007037342fa0d773a2ec1009f3ff5"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1547222400_1","type":"candles","attributes":{"timestamp":1547222400,"low":3592.56,"open":3655.0,"close":3592.56,"high":3660.81297557,"volume":1.17645162,"price_before_last":3614.0,"vwap":3642.659435400675107999766280231736176283,"orderbook_code":"btc_usd"}},{"id":"1547280000_1","type":"candles","attributes":{"timestamp":1547280000,"low":3596.46466727,"open":3617.7,"close":3627.52849559,"high":3627.52849559,"volume":2.09880825,"price_before_last":3596.46466727,"vwap":3619.001635463113101828144614926113426513,"orderbook_code":"btc_usd"}},{"id":"1547308800_1","type":"candles","attributes":{"timestamp":1547308800,"low":3617.7,"open":3617.7,"close":3617.7,"high":3617.7,"volume":0.03420128,"price_before_last":3627.52849559,"vwap":3617.7,"orde[...]
