---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/bids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"b5e03d60c830b8c440a86b9c38d0f254"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"36291147","type":"bids","attributes":{"amount":10.0,"remaining_amount":10.0,"price":3552.18007332,"status":"executing","orderbook_code":"btc_usd"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}},{"id":"36291158","type":"bids","attributes":{"amount":10.0,"remaining_amount":10.0,"price":3552.18007332,"status":"executing","orderbook_code":"btc_usd"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}},{"id":"36291901","type":"bids","attributes":{"amount":5.0,"remaining_amount":5.0,"price":127.60302813,"status":"executing","orderbook_code":"bch_usd"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}]}'
  recorded_at: Thu, 17 Jan 2019 15:39:37 GMT
recorded_with: VCR 4.0.0
