---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/bids?filter%5Borderbook_code%5D=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"b23ce536d53b02b42d0ee5812de91f23"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"36302022","type":"bids","attributes":{"amount":10.0,"remaining_amount":10.0,"price":3569.99558554,"status":"executing","orderbook_code":"btc_usd","created_at":"2000-01-01T00:00:00.000Z"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}},{"id":"36302035","type":"bids","attributes":{"amount":10.0,"remaining_amount":10.0,"price":3569.99558554,"status":"executing","orderbook_code":"btc_usd","created_at":"2000-01-02T00:00:00.000Z"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}]}'
  recorded_at: Thu, 17 Jan 2019 17:55:36 GMT
recorded_with: VCR 4.0.0
