---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/bids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"15070d695bb8f71284bb41cd3390d3ed"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"38","type":"bids","attributes":{"amount":80.0,"remaining_amount":80.0,"price":40.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"39","type":"bids","attributes":{"amount":160.0,"remaining_amount":160.0,"price":80.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"41","type":"bids","attributes":{"amount":640.0,"remaining_amount":251.0,"price":160.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"42","type":"bids","attributes":{"amount":2000.0,"remaining_amount":2000.0,"price":1.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"5","type":"orderbooks"}}}}]}'
  recorded_at: Sat, 01 Dec 2018 14:10:26 GMT
recorded_with: VCR 4.0.0
