---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/bids
    body:
      encoding: UTF-8
      string: '{"data":{"type":"bids","relationships":{"orderbook":{"data":{"type":"orderbooks","id":1}}},"attributes":{"type":"bids","amount":2000,"price":100}}}'
    headers:
      Authorization:
      - write_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"89b6919bf6a3ae577f58876a538c30ea"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"46","type":"bids","attributes":{"amount":2000.0,"remaining_amount":2000.0,"price":100.0,"status":"pending"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Sat, 01 Dec 2018 14:10:49 GMT
recorded_with: VCR 4.0.0
