---
http_interactions:
- request:
    method: post
    uri: https://bitex.la/api/bids
    body:
      encoding: UTF-8
      string: '{"data":{"type":"bids","attributes":{"type":"bids","orderbook_code":"bch_usd","amount":0.1,"price":130}}}'
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"ab2095724adb8a94beba1ffc4aa6741d"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"36390603","type":"bids","attributes":{"amount":0.1,"remaining_amount":0.1,"price":130.0,"status":"pending","orderbook_code":"bch_usd"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}}'
  recorded_at: Fri, 18 Jan 2019 13:29:12 GMT
recorded_with: VCR 4.0.0
