---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/bids/38
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c077b1207d85007ea326707aee2a6a79"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"38","type":"bids","attributes":{"amount":80.0,"remaining_amount":80.0,"price":40.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Sat, 01 Dec 2018 14:10:32 GMT
recorded_with: VCR 4.0.0
