---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/bids/36291147
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"211d8cef49e41fcd1c4f84f88912f48a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"36291147","type":"bids","attributes":{"amount":10.0,"remaining_amount":10.0,"price":3552.18007332,"status":"cancelled","orderbook_code":"btc_usd"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}}'
  recorded_at: Thu, 17 Jan 2019 18:00:32 GMT
recorded_with: VCR 4.0.0
