---
http_interactions:
- request:
    method: post
    uri: https://bitex.la/api/merchants/pos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"pos","attributes":{"type":"pos","merchant_keep":10,"merchant_logo":"https://mysite.com/logo","merchant_name":"My
        Site","merchant_site":"https://mysite.com","merchant_slug":"my-site"}}}'
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"bbbb579ae36292c6b93d0dd51010b9c6"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"3197","type":"pos","attributes":{"merchant_slug":"my-site","merchant_keep":10.0,"merchant_name":"My
        Site","merchant_logo":"https://mysite.com/logo","merchant_site":"https://mysite.com"}}}'
  recorded_at: Tue, 22 Jan 2019 16:14:16 GMT
recorded_with: VCR 4.0.0
