---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/merchants/pos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"pos","attributes":{"type":"pos","merchant_keep":10,"merchant_logo":"https://mysite.com/logo","merchant_name":"My
        Site","merchant_site":"https://mysite.com","merchant_slug":"my-site"}}}'
    headers:
      Authorization:
      - write_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"bc26647f7adf2f2d8b06d94313a399a8"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"7","type":"pos","attributes":{"merchant_slug":"my-site","merchant_keep":10.0,"merchant_name":"My
        Site","merchant_logo":"https://mysite.com/logo","merchant_site":"https://mysite.com"}}}'
  recorded_at: Sun, 02 Dec 2018 23:06:34 GMT
recorded_with: VCR 4.0.0
