---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/merchants/pos
    body:
      encoding: UTF-8
      string: '{"data":{"type":"pos","attributes":{"merchant_keep":10,"merchant_logo":"https://mysite.com/logo","merchant_name":"My
        Site","merchant_site":"https://mysite.com","merchant_slug":"my-site"}}}'
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"55ca4c5743afd8635db91e4e70eebb9f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"592","type":"pos","attributes":{"merchant_slug":"my-site","merchant_keep":10.0,"merchant_name":"My
        Site","merchant_logo":"https://mysite.com/logo","merchant_site":"https://mysite.com"}}}'
  recorded_at: Thu, 24 Jan 2019 16:44:05 GMT
recorded_with: VCR 4.0.0
