---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/identification_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"identification_seeds","attributes":{"identification_kind_code":"national_id","number":"12345678","issuer":"AR"}}}'
    headers:
      Authorization:
      - your_magic_api_key;
        user=601
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"9040e183b20c1a1a2b12e4828d59d37d"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2705","type":"identification_seeds","attributes":{"identification_kind_code":"national_id","number":"12345678","issuer":"AR","public_registry_authority":null,"public_registry_book":null,"public_registry_extra_data":null,"created_at":"2019-01-28T20:05:21.000Z","updated_at":"2019-01-28T20:05:21.000Z"},"relationships":{"issue":{"data":{"id":"1521","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 28 Jan 2019 20:05:20 GMT
recorded_with: VCR 4.0.0
