---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/identification_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"identification_seeds","attributes":{"type":"identification_seeds","identification_kind_code":"national_id","number":"12345678","issuer":"AR","public_registry_authority":"public
        registry authority","public_registry_book":"public registry book","public_registry_extra_data":"public
        registry extra data"}}}'
    headers:
      Authorization:
      - 68736233ac5ee1bb57cd69b241a97be564d3f6b2d1ca2fa7702c3872063d54d7554a6c9e81ba44fc
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"9debd35e6a657826f122bb2faa3322fb"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2701","type":"identification_seeds","attributes":{"identification_kind_code":"national_id","number":"12345678","issuer":"AR","public_registry_authority":null,"public_registry_book":null,"public_registry_extra_data":null,"created_at":"2019-01-22T19:49:27.000Z","updated_at":"2019-01-22T19:49:27.000Z"},"relationships":{"issue":{"data":{"id":"1435","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Tue, 22 Jan 2019 19:49:27 GMT
recorded_with: VCR 4.0.0
