---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/identification_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"identification_seeds","attributes":{"type":"identification_seeds","identification_kind_code":"national_id","number":"12345678","issuer":"AR","public_registry_authority":"public
        registry authority","public_registry_book":"public registry book","public_registry_extra_data":"public
        registry extra data"}}}'
    headers:
      Authorization:
      - client3_write_level_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"081a0cd853b7b8a4fc04f9b2459eaa5e"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2","type":"identification_seeds","attributes":{"identification_kind_code":"national_id","number":"12345678","issuer":"AR","public_registry_authority":null,"public_registry_book":null,"public_registry_extra_data":null,"created_at":"2018-12-03T00:33:58.000Z","updated_at":"2018-12-03T00:33:58.000Z"},"relationships":{"issue":{"data":{"id":"2","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 03 Dec 2018 00:33:58 GMT
recorded_with: VCR 4.0.0
