---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/coin_deposits/2920
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7aca9f620b66d078b16e662a4499486e"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"2920","type":"coin_deposits","attributes":{"coin":"btc","amount":0.00285,"created_at":"2015-09-03T14:51:12.000Z"},"relationships":{"address":{"data":{"id":"38500","type":"bitcoin_addresses"}}}}}'
  recorded_at: Mon, 21 Jan 2019 19:57:07 GMT
recorded_with: VCR 4.0.0
