---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/markets/btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"f3abf2fd63ea85afb92cf37cd03db58c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[{"id":"1543586400_","type":"candles"},{"id":"1543590000_","type":"candles"}]},"transactions":{"data":[{"id":"33","type":"transactions"},{"id":"32","type":"transactions"},{"id":"31","type":"transactions"}]},"bids":{"data":[{"id":"50.2","type":"order_groups"}]},"asks":{"data":[{"id":"100.0","type":"order_groups"}]}}},"included":[{"id":"1543586400_","type":"candles","attributes":{"timestamp":1543586400,"low":50.2,"open":50.2,"close":50.2,"high":50.2,"volume":2.99999999,"price_before_last":50.2,"vwap":50.2},"relationships":{"orderbook":{"data":null}}},{"id":"1543590000_","type":"candles","attributes":{"timestamp":1543590000,"low":100.0,"open":100.0,"close":100.0,"high":100.0,"volume":1.5,"price_before_last":50.2,"vwap":100.0},"relationships":{"orderbook":{"data":null}}},{"id":"33","type":"transactions","attributes":{"timestamp":1543590137,"price":100.0,"amount":1.5},"relationships":{"orderbook":{"data":null}}},{"id":"32","type":"transactions","attributes":{"timestamp":1543587955,"price":50.2,"amount":1.00338645},"relationships":{"orderbook":{"data":null}}},{"id":"31","type":"transactions","attributes":{"timestamp":1543587955,"price":50.2,"amount":1.99661354},"relationships":{"orderbook":{"data":null}}},{"id":"50.2","type":"order_groups","attributes":{"price":50.2,"amount":2.99661354004}},{"id":"100.0","type":"order_groups","attributes":{"price":100.0,"amount":2.49}}]}'
  recorded_at: Fri, 30 Nov 2018 15:11:53 GMT
recorded_with: VCR 4.0.0
