---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/coin_deposits?filter%5Bfrom%5D=2019-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4fb6763d9a9bde226678ccccc28e603a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"61152","type":"coin_deposits","attributes":{"coin":"btc","amount":0.1,"created_at":"2019-01-07T20:11:33.247Z"},"relationships":{"address":{"data":{"id":"33196","type":"bitcoin_addresses"}}}}]}'
  recorded_at: Mon, 21 Jan 2019 19:54:01 GMT
recorded_with: VCR 4.0.0
