---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/coin_deposits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"5e6077572ef4a31169b3069979871b0d"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"2920","type":"coin_deposits","attributes":{"coin":"btc","amount":0.00285,"created_at":"2015-09-03T14:51:12.000Z"},"relationships":{"address":{"data":{"id":"38500","type":"bitcoin_addresses"}}}},{"id":"30227","type":"coin_deposits","attributes":{"coin":"bch","amount":0.00285,"created_at":"2018-02-15T00:34:07.843Z"},"relationships":{"address":{"data":{"id":"6387","type":"bcash_addresses"}}}},{"id":"47350","type":"coin_deposits","attributes":{"coin":"btc","amount":0.05,"created_at":"2018-11-12T20:40:17.702Z"},"relationships":{"address":{"data":{"id":"33196","type":"bitcoin_addresses"}}}},{"id":"55012","type":"coin_deposits","attributes":{"coin":"btc","amount":0.02,"created_at":"2018-12-27T13:49:58.701Z"},"relationships":{"address":{"data":{"id":"33196","type":"bitcoin_addresses"}}}},{"id":"55312","type":"coin_deposits","attributes":{"coin":"bch","amount":1.0,"created_at":"2018-12-27T19:39:47.412Z"},"relationships":{"address":{"data":{"id":"6387","type":"bcash_addresses"}}}},{"id":"61152","type":"coin_deposits","attributes":{"coin":"btc","amount":0.1,"created_at":"2019-01-07T20:11:33.247Z"},"relationships":{"address":{"data":{"id":"33196","type":"bitcoin_addresses"}}}}]}'
  recorded_at: Mon, 21 Jan 2019 19:54:00 GMT
recorded_with: VCR 4.0.0
