---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/coin_deposits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"5e687546338960b263a19842c8f38df6"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"7","type":"coin_deposits","attributes":{"address":{"public_address":"mrxMVFpSxVTsdjxF2QSj2CrRvM8rMGBrkq","payment_id":null,"auto_sell":false},"coin":"btc","amount":321.0,"created_at":"2018-11-30T14:57:59.018Z"}}]}'
  recorded_at: Sun, 02 Dec 2018 13:20:07 GMT
recorded_with: VCR 4.0.0
