---
http_interactions:
- request:
    method: get
    uri: https://dev.bitex.la:3000/api/coin_withdrawals?filter%5Bfrom%5D=2019-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - efcf796a5efffdde67f94dff62e485907c7de3a5e5c4018729bc672578a6b89a7616dfcc03f74522
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"5a7705ac4e2ccb9ea7a28ee76fa63436"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1","type":"coin_withdrawals","attributes":{"amount":150.0,"status":"received","label":"to-me","to_addresses":"mnkzungYoJb8HMVSCmtQ5gmE9tksVqwdpf","coin_code":"btc","created_at":"2019-01-22T13:58:41.443Z"},"relationships":{"user":{"data":{"id":"1","type":"users"}}}}]}'
  recorded_at: Tue, 22 Jan 2019 14:01:41 GMT
recorded_with: VCR 4.0.0
