---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/coin_withdrawals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"1c0db7cd3cd06648aa3f7592c75d0c24"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"68743","type":"coin_withdrawals","attributes":{"amount":0.01,"status":"done","label":"Bitstamp-for-test","to_addresses":"37VbMTTQuLfF7o5NYkz7eD3heet5ka7MV3","coin_code":"btc","created_at":"2019-01-10T17:29:14.309Z"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}},{"id":"68822","type":"coin_withdrawals","attributes":{"amount":0.012,"status":"done","label":"a-label","to_addresses":"37VbMTTQuLfF7o5NYkz7eD3heet5ka7MV3","coin_code":"btc","created_at":"2019-01-11T17:29:14.309Z"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}},{"id":"77472","type":"coin_withdrawals","attributes":{"amount":0.02,"status":"done","label":"to-itbit","to_addresses":"39iiGVB1UNYjmNGQwHuY7LkjDAzECyNZMk","coin_code":"btc","created_at":"2019-01-12T17:29:14.309Z"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}},{"id":"77473","type":"coin_withdrawals","attributes":{"amount":0.5,"status":"done","label":"to-kraken","to_addresses":"bitcoincash:qp2w4exjlvlrw4ukkzjv22exued32t7a9ust5qmkq6","coin_code":"bch","created_at":"2019-01-13T17:29:14.309Z"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}},{"id":"77916","type":"coin_withdrawals","attributes":{"amount":0.01838662,"status":"done","label":"a-label","to_addresses":"1CEAgjYtugxMk6irZQK11KR2HkvECKSFtj","coin_code":"btc","created_at":"2019-01-14T17:29:14.309Z"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}]}'
  recorded_at: Mon, 21 Jan 2019 21:13:37 GMT
recorded_with: VCR 4.0.0
