---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/coin_withdrawals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"f1fd15d1a626c7b05ed8b6ceffa5d5bc"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"4","type":"coin_withdrawals","attributes":{"amount":1000.0,"status":"received","label":"Trezor","to_addresses":"mszEUK9E6E7n4SNcrjYH8Fr7ZTGP9n3dRb"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"coin":{"data":{"attributes":{"id":1,"code":"btc","name":"bitcoin","decimals":8},"id":1,"code":"btc","name":"bitcoin","decimals":8}}}}]}'
  recorded_at: Sun, 02 Dec 2018 18:00:34 GMT
recorded_with: VCR 4.0.0
