---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/coin_withdrawals?filter%5Bfrom%5D=2019-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"1c0db7cd3cd06648aa3f7592c75d0c24"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1","type":"coin_withdrawals","attributes":{"amount":150.0,"status":"received","label":"to-me","to_addresses":"mnkzungYoJb8HMVSCmtQ5gmE9tksVqwdpf","coin_code":"btc","created_at":"2019-01-22T13:58:41.443Z"},"relationships":{"user":{"data":{"id":"1","type":"users"}}}}]}'
  recorded_at: Mon, 21 Jan 2019 21:20:32 GMT
recorded_with: VCR 4.0.0
