---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/asks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c1f930ef2f32c82236de154e10159a7c"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"34","type":"asks","attributes":{"amount":2.0,"remaining_amount":2.0,"price":200.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"35","type":"asks","attributes":{"amount":2.0,"remaining_amount":2.0,"price":250.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"36","type":"asks","attributes":{"amount":2.0,"remaining_amount":2.0,"price":300.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"38","type":"asks","attributes":{"amount":4.0,"remaining_amount":1.0,"price":2000.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"5","type":"orderbooks"}}}},{"id":"39","type":"asks","attributes":{"amount":4.0,"remaining_amount":4.0,"price":6000.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"5","type":"orderbooks"}}}}]}'
  recorded_at: Sat, 01 Dec 2018 04:47:22 GMT
recorded_with: VCR 4.0.0
