---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/asks
    body:
      encoding: UTF-8
      string: '{"data":{"type":"asks","relationships":{"orderbook":{"data":{"type":"orderbooks","id":1}}},"attributes":{"type":"asks","amount":2000,"price":100}}}'
    headers:
      Authorization:
      - write_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"0ebc0c7f7dd3d7cbc32f04b38b4a8f14"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"40","type":"asks","attributes":{"amount":2000.0,"remaining_amount":2000.0,"price":100.0,"status":"pending"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Sat, 01 Dec 2018 14:00:51 GMT
recorded_with: VCR 4.0.0
