---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/asks
    body:
      encoding: UTF-8
      string: '{"data":{"type":"asks","attributes":{"orderbook_code":"bch_usd","amount":3,"price":150}}}'
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4066365f6e553a8ac905aacbbc0eda7b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1580","type":"asks","attributes":{"amount":3.0,"remaining_amount":3.0,"price":150.0,"status":"pending","orderbook_code":"bch_usd"},"relationships":{"user":{"data":{"id":"592","type":"users"}}}}}'
  recorded_at: Thu, 24 Jan 2019 15:40:35 GMT
recorded_with: VCR 4.0.0
