---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/asks/36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"77e54ce12cf8a3ebb9615c749996bd0f"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"36","type":"asks","attributes":{"amount":2.0,"remaining_amount":2.0,"price":300.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Sat, 01 Dec 2018 04:51:29 GMT
recorded_with: VCR 4.0.0
