---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/asks/36270309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"bc5467931ef1a5194bed217774546ec2"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"36270309","type":"asks","attributes":{"amount":0.06,"remaining_amount":0.06,"price":129.60081657,"status":"executing","orderbook_code":"bch_usd"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}}'
  recorded_at: Fri, 18 Jan 2019 13:39:25 GMT
recorded_with: VCR 4.0.0
