---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"f760a5b7800964bff4f080f68f62c0a1"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"594","type":"users","attributes":{"name":"user+test123@sample.com","email":"user+test123@sample.com","kyc_accepted":false,"otp_enabled":false,"do_not_email":false,"trezor_login_enabled":false}},{"id":"597","type":"users","attributes":{"name":"user+test1234@sample.com","email":"user+test1234@sample.com","kyc_accepted":false,"otp_enabled":false,"do_not_email":false,"trezor_login_enabled":false}}]}'
  recorded_at: Fri, 25 Jan 2019 19:19:16 GMT
recorded_with: VCR 4.0.0
