---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/users
    body:
      encoding: UTF-8
      string: '{"data":{"type":"users","attributes":{"email":"user+test123@sample.com","password":"password"}}}'
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"e31a817f1d048ed63b799f316e8fe14b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"594","type":"users","attributes":{"name":"user+test123@sample.com","email":"user+test123@sample.com","kyc_accepted":false,"otp_enabled":false,"do_not_email":false,"trezor_login_enabled":false}}}'
  recorded_at: Thu, 24 Jan 2019 18:18:44 GMT
recorded_with: VCR 4.0.0
