---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key;
        user=600
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4fb4242c63276de1cc9c3ff2c5e8e2d0"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"600","type":"users","attributes":{"name":"person@whitelabeler.com","email":"person@whitelabeler.com","kyc_accepted":false,"otp_enabled":false,"do_not_email":false,"trezor_login_enabled":false}}}'
  recorded_at: Mon, 28 Jan 2019 15:32:29 GMT
recorded_with: VCR 4.0.0
