---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4ee20c1d69add59c1a85ca9ebb712b19"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"36214036","type":"bids","attributes":{"amount":5.0,"remaining_amount":5.0,"price":125.92013327,"status":"executing","orderbook_code":"bch_usd","created_at":"2000-01-01T00:00:00.000Z"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}},{"id":"36214047","type":"bids","attributes":{"amount":10.0,"remaining_amount":10.0,"price":3556.74258254,"status":"executing","orderbook_code":"btc_usd","created_at":"2000-01-02T00:00:00.000Z"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}},{"id":"36214060","type":"bids","attributes":{"amount":5.0,"remaining_amount":5.0,"price":125.92013327,"status":"executing","orderbook_code":"bch_usd","created_at":"2000-01-03T00:00:00.000Z"},"relationsh[...]
