---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3096b574544e0165e57e3b04a9acc9f3"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"38","type":"bids","attributes":{"amount":80.0,"remaining_amount":80.0,"price":40.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"39","type":"bids","attributes":{"amount":160.0,"remaining_amount":160.0,"price":80.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"41","type":"bids","attributes":{"amount":640.0,"remaining_amount":251.0,"price":160.0,"status":"executing"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"i[...]
