---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/cash_deposits?filter%5Bfrom%5D=2019-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d47993bcd9eabbd40e88c3b15b3b4592"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"24177","type":"cash_deposits","attributes":{"status":"done","requested_amount":null,"requested_currency":"USD","deposit_method":"bank","country":null,"clearing_data":null,"amount":500.0,"fiat_code":"USD","gross_amount":500.0,"cost":0.0,"fee":0.0,"net_amount":500.0,"created_at":"2019-01-07T20:03:53.617Z"},"relationships":{"funding_receipt":{"data":null}}}]}'
  recorded_at: Mon, 21 Jan 2019 19:52:48 GMT
recorded_with: VCR 4.0.0
