---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/argentina_invoicing_detail_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"argentina_invoicing_detail_seeds","attributes":{"address":"Dimension
        C-132","country":"AR","full_name":"Rick Sanchez","receipt_kind_code":"b","tax_id":"20123456782","tax_id_kind_code":"cuil","vat_status_code":"consumidor_final"}}}'
    headers:
      Authorization:
      - your_magic_api_key;
        user=601
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"6c4098a988e505e8ac06fbe4c9e8397b"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"64","type":"argentina_invoicing_detail_seeds","attributes":{"vat_status_code":"consumidor_final","tax_id":"20123456782","tax_id_kind_code":"cuil","receipt_kind_code":"b","full_name":"Rick
        Sanchez","country":"AR","address":"Dimension C-132","created_at":"2019-01-28T21:01:08.000Z","updated_at":"2019-01-28T21:01:08.000Z"},"relationships":{"issue":{"data":{"id":"1521","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 28 Jan 2019 21:01:08 GMT
recorded_with: VCR 4.0.0
