---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/natural_docket_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"natural_docket_seeds","attributes":{"first_name":"Rick","last_name":"Sanchez","nationality":"AR","gender_code":"male","marital_status_code":"single","politically_exposed":false,"birth_date":"1989-05-17"}}}'
    headers:
      Authorization:
      - your_magic_api_key;
        user=601
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"8473afebc05cef87493b7e694881fd42"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1475","type":"natural_docket_seeds","attributes":{"first_name":"Rick","last_name":"Sanchez","nationality":"AR","gender_code":"male","marital_status_code":"single","job_title":null,"job_description":null,"politically_exposed":false,"politically_exposed_reason":null,"birth_date":"1989-05-17","created_at":"2019-01-28T19:54:45.000Z","updated_at":"2019-01-28T19:54:45.000Z"},"relationships":{"issue":{"data":{"id":"1521","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 28 Jan 2019 19:54:45 GMT
recorded_with: VCR 4.0.0
