---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/natural_docket_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"natural_docket_seeds","attributes":{"type":"natural_docket_seeds","first_name":"Rick","last_name":"Sanchez","nationality":"AR","gender_code":"male","marital_status_code":"single","birth_date":"1989-05-17"}}}'
    headers:
      Authorization:
      - 9b9714e3bc64326f72ff5a4182f8137097110505b28825842f93468f86e19c28c8823ec6f79b6562
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"2c38d303b322a77ba07e0aeeee581e27"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"natural_docket_seeds","attributes":{"first_name":"Rick","last_name":"Sanchez","nationality":"AR","gender_code":"male","marital_status_code":"single","job_title":null,"job_description":null,"politically_exposed":null,"politically_exposed_reason":null,"birth_date":"1989-05-17","created_at":"2019-01-22T20:53:37.000Z","updated_at":"2019-01-22T20:53:37.000Z"},"relationships":{"issue":{"data":{"id":"1","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Tue, 22 Jan 2019 20:53:37 GMT
recorded_with: VCR 4.0.0
