---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/cash_deposits/24177
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"177b809ef903c45107edb33eae052ccc"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"24177","type":"cash_deposits","attributes":{"status":"done","requested_amount":1000.0,"requested_currency":"USD","deposit_method":"bank","country":"AR","clearing_data":"data","amount":500.0,"fiat_code":"USD","gross_amount":500.0,"cost":0.0,"fee":0.0,"net_amount":500.0,"created_at":"2019-01-07T20:03:53.617Z"},"relationships":{"funding_receipt":{"data":null}}}}'
  recorded_at: Mon, 21 Jan 2019 19:34:23 GMT
recorded_with: VCR 4.0.0
