---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/webhooks
    body:
      encoding: UTF-8
      string: '{"data":{"type":"webhooks","attributes":{"url":"https://webhooktest.com"}}}'
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4839bfd544902a7911feb8892142d6af"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1548361352","type":"webhooks","attributes":{"url":"https://webhooktest.com"}}}'
  recorded_at: Thu, 24 Jan 2019 20:22:31 GMT
recorded_with: VCR 4.0.0
