---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"cf348922ec8a832009cd24341aa94ac6"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1548361372","type":"webhooks","attributes":{"url":"https://webhooktest.com"}}}'
  recorded_at: Thu, 24 Jan 2019 20:22:52 GMT
recorded_with: VCR 4.0.0
