---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/asks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"8518ca5284f6be240aa22cbc0a4a84f6"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"36270309","type":"asks","attributes":{"amount":0.06,"remaining_amount":0.06,"price":129.60081657,"status":"executing","orderbook_code":"bch_usd","created_at":"2000-01-01T00:00:00.000Z"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}},{"id":"36288853","type":"asks","attributes":{"amount":0.002,"remaining_amount":0.002,"price":3645.10866297,"status":"executing","orderbook_code":"btc_usd","created_at":"2000-01-02T00:00:00.000Z"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}},{"id":"36288867","type":"asks","attributes":{"amount":0.002,"remaining_amount":0.002,"price":3645.0175312,"status":"executing","orderbook_code":"btc_usd","created_at":"2000-01-03T00:00:00.000Z"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}]}'
  recorded_at: Fri, 18 Jan 2019 13:36:17 GMT
recorded_with: VCR 4.0.0
