---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/movements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"893cd2b2a03a8c0802a2781cdb6d1cc5"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"163842Sell","type":"movements","attributes":{"timestamp":1548184352,"currencies_involved":"BTC_USD","currency":"BTC","amount":0.00199999,"fee":0.0181699,"fee_decimals":2,"fee_currency":"USD","price":3633.98046166,"price_decimals":2,"kind":"Sell"}},{"id":"163780Sell","type":"movements","attributes":{"timestamp":1548161188,"currencies_involved":"BTC_USD","currency":"BTC","amount":0.00199999,"fee":0.01786268,"fee_decimals":2,"fee_currency":"USD","price":3572.53739928,"price_decimals":2,"kind":"Sell"}},{"id":"163779Sell","type":"movements","attributes":{"timestamp":1548161188,"currencies_involved":"BTC_USD","currency":"BTC","amount":0.00199999,"fee":0.01786268,"fee_decimals":2,"fee_currency":"USD","price":3572.53739928,"price_decimal[...]
