---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/movements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"1f90eee22456fed187add686510fd083"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"43Buy","type":"movements","attributes":{"timestamp":1543710306,"currencies_involved":"BTC_USD","currency":"BTC","amount":3.99,"fee":0.01,"fee_decimals":8,"fee_currency":"BTC","price":500.0,"price_decimals":2,"kind":"Buy"}},{"id":"43Sell","type":"movements","attributes":{"timestamp":1543710306,"currencies_involved":"BTC_USD","currency":"BTC","amount":4.0,"fee":5.0,"fee_decimals":2,"fee_currency":"USD","price":500.0,"price_decimals":2,"kind":"Sell"}},{"id":"42Sell","type":"movements","attributes":{"timestamp":1543616593,"currencies_involved":"BTC_ARS","currency":"BTC","amount":3.0,"fee":15.0,"fee_decimals":2,"fee_currency":"ARS","price":2000.0,"price_decimals":2,"kind":"Sell"}},{"id":"42Buy","type":"movement[...]
