---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/coin_withdrawals
    body:
      encoding: UTF-8
      string: '{"data":{"type":"coin_withdrawals","attributes":{"to_addresses":"mk2jCye9XhXxVwfp9FyVMRwYDzQxscB5ev","label":"api-test","amount":0.001,"coin_code":"btc"}}}'
    headers:
      One-Time-Password:
      - '614686'
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"97f5d89f94d4700b2e4f8d0f36fbdb54"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"108","type":"coin_withdrawals","attributes":{"amount":0.001,"status":"received","label":"api-test","to_addresses":"mk2jCye9XhXxVwfp9FyVMRwYDzQxscB5ev","coin_code":"btc","created_at":"2019-01-24T15:26:46.309Z"},"relationships":{"user":{"data":{"id":"592","type":"users"}}}}}'
  recorded_at: Thu, 24 Jan 2019 15:26:46 GMT
recorded_with: VCR 4.0.0
