---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/coin_withdrawals
    body:
      encoding: UTF-8
      string: '{"data":{"type":"coin_withdrawals","attributes":{"type":"coin_withdrawals","to_addresses":"mszEUK9E6E7n4SNcrjYH8Fr7ZTGP9n3dRb","label":"Trezor","amount":1000,"currency":"btc"}}}'
    headers:
      One-Time-Passoword:
      - '111111'
      Authorization:
      - write_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"2077331a2587f19560278175b88de163"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"4","type":"coin_withdrawals","attributes":{"amount":1000.0,"status":"received","label":"Trezor","to_addresses":"mszEUK9E6E7n4SNcrjYH8Fr7ZTGP9n3dRb"},"relationships":{"user":{"data":{"id":"7","type":"users"}},"coin":{"data":{"attributes":{"id":1,"code":"btc","name":"bitcoin","decimals":8},"id":1,"code":"btc","name":"bitcoin","decimals":8}}}}}'
  recorded_at: Sun, 02 Dec 2018 17:52:10 GMT
recorded_with: VCR 4.0.0
