---
http_interactions:
- request:
    method: post
    uri: https://bitex.la/api/coin_withdrawals
    body:
      encoding: UTF-8
      string: '{"data":{"type":"coin_withdrawals","attributes":{"type":"coin_withdrawals","to_addresses":"1Me52PH47zLTituf92KGx1ZGQWV2vnEtBd","label":"api-test","amount":0.001,"coin_code":"btc"}}}'
    headers:
      One-Time-Password:
      - '544943'
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d0fdaa8573ce3b555138295f49ed41fe"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"78860","type":"coin_withdrawals","attributes":{"amount":0.001,"status":"received","label":"api-test","to_addresses":"1Me52PH47zLTituf92KGx1ZGQWV2vnEtBd","coin_code":"btc"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}}'
  recorded_at: Tue, 22 Jan 2019 14:50:48 GMT
recorded_with: VCR 4.0.0
