---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/coin_withdrawals/68743
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7e2feb0c4de96ddfbf22fd58e072feec"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"68743","type":"coin_withdrawals","attributes":{"amount":0.01,"status":"done","label":"Bitstamp-for-test","to_addresses":"37VbMTTQuLfF7o5NYkz7eD3heet5ka7MV3","coin_code":"btc"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}}'
  recorded_at: Mon, 21 Jan 2019 21:52:22 GMT
recorded_with: VCR 4.0.0
