---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/selling_bots
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"23b0b74d5b1d4829160f671204838046"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"4301","type":"selling_bots","attributes":{"amount":0.03,"remaining_amount":0.03,"chunk_size":0.0015,"eta":"2019-01-18T17:57:27.632Z","executing":true,"to_cancel":false,"orderbook_code":"btc_usd"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}]}'
  recorded_at: Fri, 18 Jan 2019 17:27:27 GMT
recorded_with: VCR 4.0.0
