---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/selling_bots
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"542679c4845af4fc117adafae90b476c"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"3","type":"selling_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-12-02T03:44:27.204Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"4","type":"selling_bots","attributes":{"amount":100.0,"remaining_amount":100.0,"chunk_size":5.0,"eta":"2018-12-02T03:45:03.133Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"5","type":"selling_bots","attributes":{"amount":100000.0,"remaining_amount":100000.0,"chunk_size":5000.0,"eta":"2018-12-02T03:45:57.432Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"6","type":"selling_bots","attributes":{"amount":1000.0,"remaining_amount":1000.0,"chunk_size":50.0,"eta":"2018-12-02T03:48:36.056Z","executing":true,"to_cancel":true},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}]}'
  recorded_at: Sun, 02 Dec 2018 12:52:48 GMT
recorded_with: VCR 4.0.0
