---
http_interactions:
- request:
    method: post
    uri: https://bitex.la/api/selling_bots
    body:
      encoding: UTF-8
      string: '{"data":{"type":"selling_bots","attributes":{"type":"selling_bots","orderbook_code":"btc_usd","amount":0.03}}}'
    headers:
      Authorization:
      - 4df79d05ce6fc1baeb1a4d14d303638aa4a866fa82cb686c05051959a07c02371ea4e38e9edd78ab
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d3087580b7f460ba11f64a4345a8bc29"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"4301","type":"selling_bots","attributes":{"amount":0.03,"remaining_amount":0.03,"chunk_size":0.0015,"eta":"2019-01-18T17:57:22.069Z","executing":true,"to_cancel":false,"orderbook_code":"btc_usd"},"relationships":{"user":{"data":{"id":"3197","type":"users"}}}}}'
  recorded_at: Fri, 18 Jan 2019 17:27:21 GMT
recorded_with: VCR 4.0.0
