---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/selling_bots
    body:
      encoding: UTF-8
      string: '{"data":{"type":"selling_bots","attributes":{"orderbook_code":"btc_usd","amount":0.03}}}'
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"85fd99357a0ed285e75d61b5f916b3ad"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"311","type":"selling_bots","attributes":{"amount":0.03,"remaining_amount":0.03,"chunk_size":0.0015,"eta":"2019-01-24T16:23:51.414Z","executing":true,"to_cancel":false,"orderbook_code":"btc_usd"},"relationships":{"user":{"data":{"id":"592","type":"users"}}}}}'
  recorded_at: Thu, 24 Jan 2019 15:53:51 GMT
recorded_with: VCR 4.0.0
