---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/selling_bots/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"64cf94a5889bc211fbdd6f330f7ddb49"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5","type":"selling_bots","attributes":{"amount":100000.0,"remaining_amount":100000.0,"chunk_size":5000.0,"eta":"2018-12-02T03:45:57.432Z","executing":true,"to_cancel":false},"relationships":{"user":{"data":{"id":"7","type":"users"}},"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}}'
  recorded_at: Sun, 02 Dec 2018 03:17:32 GMT
recorded_with: VCR 4.0.0
