---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4abe73b1243ff39d2d96dc3320891584"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"163395","type":"transactions","attributes":{"timestamp":1548076172,"price":3539.622501,"amount":0.00009999,"orderbook_code":"btc_usd"}},{"id":"163394","type":"transactions","attributes":{"timestamp":1548076139,"price":121.961244,"amount":0.00099999,"orderbook_code":"bch_usd"}},{"id":"163393","type":"transactions","attributes":{"timestamp":1548076109,"price":137415.94,"amount":0.00145543,"orderbook_code":"btc_ars"}},{"id":"163392","type":"transactions","attributes":{"timestamp":1548076035,"price":2382484.57913275,"amount":0.00000747,"orderbook_code":"btc_clp"}},{"id":"163391","type":"transactions","attributes":{"timestamp":1548075975,"price":21171215.1,"amount":0.0001,"orderbook_code":"btc_pyg"}},{"id":"163390","type":"transactions","attributes":{"timestamp":1548075874,"price":3567.5539397,"amount":0.00280304,"orderbook_code":"btc_usd"}}]}'
  recorded_at: Mon, 21 Jan 2019 13:09:54 GMT
recorded_with: VCR 4.0.0
