---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/transactions?filter%5Bfrom%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"351625939ac965874845720e8fb72d12"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1682","type":"transactions","attributes":{"datetime":"2019-03-13T17:39:22.000Z","price":239050.0,"amount":10.45806316,"orderbook_code":"btc_ars"}},{"id":"1681","type":"transactions","attributes":{"datetime":"2019-03-13T17:38:35.000Z","price":200000.0,"amount":1.0,"orderbook_code":"btc_ars"}},{"id":"1680","type":"transactions","attributes":{"datetime":"2019-03-13T17:37:10.000Z","price":4100.0,"amount":1.0,"orderbook_code":"btc_usd"}},{"id":"1679","type":"transactions","attributes":{"datetime":"2019-03-13T17:36:56.000Z","price":4400.0,"amount":0.68181818,"orderbook_code":"btc_usd"}}]}'
  recorded_at: Mon, 21 Jan 2019 17:00:00 GMT
recorded_with: VCR 4.0.0
