---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/transactions?filter%5Borderbook_code%5D=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3cb3a9d2c3ecb8d1c3bfaf691ac421be"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"39","type":"transactions","attributes":{"timestamp":1543614820,"price":150.0,"amount":2.0},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"38","type":"transactions","attributes":{"timestamp":1543614820,"price":100.0,"amount":0.89},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"37","type":"transactions","attributes":{"timestamp":1543614804,"price":100.0,"amount":1.11},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"36","type":"transactions","attributes":{"timestamp":1543614804,"price":100.0,"amount":2.0},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"35","type":"transactions","attributes":{"timestamp":1543614804,"price":100.0,"amount":0.49},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"34","type":"transactions","attributes":{"timestamp":1543614709,"price":50.2,"amount":2.0},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}],"included":[{"id":"1","type":"orderbooks","attributes":{"code":"btc_usd","base":{"code":"btc","decimals":8},"quote":{"code":"usd","decimals":2}}}]}'
  recorded_at: Fri, 30 Nov 2018 22:26:10 GMT
recorded_with: VCR 4.0.0
