---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/transactions?filter%5Bfrom%5D=10&filter%5Borderbook_code%5D=bch_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"cb39b1ce8c3d32d70c37765bfe6b8fa0"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"163394","type":"transactions","attributes":{"timestamp":1548076139,"price":121.961244,"amount":0.00099999,"orderbook_code":"bch_usd"}}]}'
  recorded_at: Mon, 21 Jan 2019 17:00:00 GMT
recorded_with: VCR 4.0.0
