---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"ddc6ee023e104d0d014dce6ddc1ac5ce"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1689","type":"transactions","attributes":{"datetime":"2019-03-13T18:25:12.000Z","price":400000.0,"amount":0.85,"orderbook_code":"btc_pyg"}},{"id":"1687","type":"transactions","attributes":{"datetime":"2019-03-13T18:19:55.000Z","price":4500000.0,"amount":0.98888889,"orderbook_code":"btc_clp"}},{"id":"1688","type":"transactions","attributes":{"datetime":"2019-03-13T18:19:55.000Z","price":5000000.0,"amount":2.10999999,"orderbook_code":"btc_clp"}},{"id":"1686","type":"transactions","attributes":{"datetime":"2019-03-13T18:18:46.000Z","price":4500000.0,"amount":0.01111111,"orderbook_code":"btc_clp"}},{"id":"1685","type":"trans[...]
