---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/transactions?filter%5Borderbook_code%5D=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"33778fd90ab28b3bc3219fd6a1d2f160"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"163395","type":"transactions","attributes":{"timestamp":1548076172,"price":3539.622501,"amount":0.00009999,"orderbook_code":"btc_usd"}},{"id":"163390","type":"transactions","attributes":{"timestamp":1548075874,"price":3567.5539397,"amount":0.00280304,"orderbook_code":"btc_usd"}}]}'
  recorded_at: Mon, 21 Jan 2019 14:00:21 GMT
recorded_with: VCR 4.0.0
