---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4cdf1c1d1849cbb4592f504561199d2a"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"42","type":"transactions","attributes":{"timestamp":1543616593,"price":2000.0,"amount":3.0},"relationships":{"orderbook":{"data":{"id":"5","type":"orderbooks"}}}},{"id":"41","type":"transactions","attributes":{"timestamp":1543616566,"price":1000.0,"amount":2.0},"relationships":{"orderbook":{"data":{"id":"5","type":"orderbooks"}}}},{"id":"40","type":"transactions","attributes":{"timestamp":1543616551,"price":1000.0,"amount":2.0},"relationships":{"orderbook":{"data":{"id":"5","type":"orderbooks"}}}},{"id":"38","type":"transactions","attributes":{"timestamp":1543614820,"price":100.0,"amount":0.89},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"39","type":"transactions","attributes":{"timestamp":1543614820,"price":150.0,"amount":2.0},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"36","type":"transactions","attributes":{"timestamp":1543614804,"price":100.0,"amount":2.0},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"37","type":"transactions","attributes":{"timestamp":1543614804,"price":100.0,"amount":1.11},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"35","type":"transactions","attributes":{"timestamp":1543614804,"price":100.0,"amount":0.49},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"34","type":"transactions","attributes":{"timestamp":1543614709,"price":50.2,"amount":2.0},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}],"included":[{"id":"5","type":"orderbooks","attributes":{"code":"btc_ars","base":{"code":"btc","decimals":8},"quote":{"code":"ars","decimals":2}}},{"id":"1","type":"orderbooks","attributes":{"code":"btc_usd","base":{"code":"btc","decimals":8},"quote":{"code":"usd","decimals":2}}}]}'
  recorded_at: Fri, 30 Nov 2018 22:24:40 GMT
recorded_with: VCR 4.0.0
