---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/transactions?filter%5Bfrom%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"a7d8596bc8f78f9128cf4f5fb1406336"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"42","type":"transactions","attributes":{"timestamp":1543616593,"price":2000.0,"amount":3.0},"relationships":{"orderbook":{"data":{"id":"5","type":"orderbooks"}}}},{"id":"41","type":"transactions","attributes":{"timestamp":1543616566,"price":1000.0,"amount":2.0},"relationships":{"orderbook":{"data":{"id":"5","type":"orderbooks"}}}},{"id":"40","type":"transactions","attributes":{"timestamp":1543616551,"price":1000.0,"amount":2.0},"relationships":{"orderbook":{"data":{"id":"5","type":"orderbooks"}}}},{"id":"38","type":"transactions","attributes":{"timestamp":1543614820,"price":100.0,"amount":0.89},"relationships":{"o[...]
