---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/transactions?filter%5Borderbook_code%5D=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c4e8789e6effd18ffaa64797cf62e2f2"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1680","type":"transactions","attributes":{"datetime":"2019-03-13T17:37:10.000Z","price":4100.0,"amount":1.0,"orderbook_code":"btc_usd"}},{"id":"1679","type":"transactions","attributes":{"datetime":"2019-03-13T17:36:56.000Z","price":4400.0,"amount":0.68181818,"orderbook_code":"btc_usd"}}]}'
  recorded_at: Wed, 13 Mar 2019 18:07:49 GMT
recorded_with: VCR 4.0.0
