---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/transactions?filter%5Bfrom%5D=10&filter%5Borderbook_code%5D=bch_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"96a2cd7cd6637ccfc3587dd562e42f23"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1684","type":"transactions","attributes":{"datetime":"2019-03-13T18:09:32.000Z","price":1500.0,"amount":0.02,"orderbook_code":"bch_usd"}},{"id":"1683","type":"transactions","attributes":{"datetime":"2019-03-13T18:08:49.000Z","price":1245.0,"amount":0.3,"orderbook_code":"bch_usd"}}]}'
  recorded_at: Mon, 21 Jan 2019 17:00:00 GMT
recorded_with: VCR 4.0.0
