---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/candles?filter%5Bdays%5D=10&filter%5Borderbook_code%5D=btc_usd&span=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"dbaa564b647afb2317f77e92e205f259"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1542996000_1","type":"candles","attributes":{"timestamp":1542996000,"low":1.0,"open":1.0,"close":1.0,"high":1.0,"volume":10.0,"price_before_last":50.2,"vwap":1.0},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"1543330800_1","type":"candles","attributes":{"timestamp":1543330800,"low":100.0,"open":100.0,"close":100.0,"high":100.0,"volume":0.01,"price_before_last":1.0,"vwap":100.0},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"1543579200_1","type":"candles","attributes":{"timestamp":1543579200,"low":50.2,"open":50.2,"close":50.2,"high":50.2,"volume":2.99999999,"price_before_last":50.2,"vwap":50.2},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"1543590000_1","type":"candles","attributes":{"timestamp":1543590000,"low":100.0,"open":100.0,"close":100.0,"high":100.0,"volume":1.5,"price_before_last":50.2,"vwap":100.0},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"1543611600_1","type":"candles","attributes":{"timestamp":1543611600,"low":50.2,"open":50.2,"close":150.0,"high":150.0,"volume":8.49,"price_before_last":100.0,"vwap":100.047114252061248527679623086},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}}],"included":[{"id":"1","type":"orderbooks","attributes":{"code":"btc_usd","base":{"code":"btc","decimals":8},"quote":{"code":"usd","decimals":2}}}]}'
  recorded_at: Sat, 01 Dec 2018 00:47:02 GMT
recorded_with: VCR 4.0.0
