---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/candles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"0534d60710ae1a912f09023f906c9789"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1543586400_1","type":"candles","attributes":{"timestamp":1543586400,"low":50.2,"open":50.2,"close":50.2,"high":50.2,"volume":2.99999999,"price_before_last":50.2,"vwap":50.2},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"1543590000_1","type":"candles","attributes":{"timestamp":1543590000,"low":100.0,"open":100.0,"close":100.0,"high":100.0,"volume":1.5,"price_before_last":50.2,"vwap":100.0},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}}}},{"id":"1543611600_1","type":"candles","attributes":{"timestamp":1543611600,"low":50.2,"open":50.2,"close":150.0,"high":150.0,"volume":8.49,"price_before_last":100.0,"vwap":100.047114252061248527679623086},"re[...]
