---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/issues/current/complete
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - your_magic_api_key;
        user=601
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"5519256d95c5df660e5937e10701f9c1"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1521","type":"issues","attributes":{"state":"new"}}}'
  recorded_at: Tue, 29 Jan 2019 16:10:00 GMT
recorded_with: VCR 4.0.0
