---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/chile_invoicing_detail_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"chile_invoicing_detail_seeds","attributes":{"type":"chile_invoicing_detail_seeds","ciudad":"Santiago","comuna":"Chile","giro":"2332","tax_id":"12053214-6","vat_status_code":"consumidor_final"}}}'
    headers:
      Authorization:
      - 68736233ac5ee1bb57cd69b241a97be564d3f6b2d1ca2fa7702c3872063d54d7554a6c9e81ba44fc
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7d9f646eb8edb16b85deba9cbd9a7b99"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"14","type":"chile_invoicing_detail_seeds","attributes":{"vat_status_code":"consumidor_final","tax_id":"12053214-6","giro":"2332","ciudad":"Santiago","comuna":"Chile","created_at":"2019-01-22T19:43:24.000Z","updated_at":"2019-01-22T19:43:24.000Z"},"relationships":{"issue":{"data":{"id":"1435","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Tue, 22 Jan 2019 19:43:24 GMT
recorded_with: VCR 4.0.0
