---
http_interactions:
- request:
    method: post
    uri: https://dev.bitex.la:3000/api/chile_invoicing_detail_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"chile_invoicing_detail_seeds","attributes":{"type":"chile_invoicing_detail_seeds","ciudad":"Santiago","comuna":"Chile","giro":"2332","tax_id":"12053214-6","vat_status_code":"consumidor_final"}}}'
    headers:
      Authorization:
      - client3_write_level_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"af83d8a9d7e8a924f3ff8bb598259771"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"chile_invoicing_detail_seeds","attributes":{"vat_status_code":"consumidor_final","tax_id":"12053214-6","giro":"2332","ciudad":"Santiago","comuna":"Chile","created_at":"2018-12-03T01:05:10.000Z","updated_at":"2018-12-03T01:05:10.000Z"},"relationships":{"issue":{"data":{"id":"2","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 03 Dec 2018 01:05:10 GMT
recorded_with: VCR 4.0.0
