---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/chile_invoicing_detail_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"chile_invoicing_detail_seeds","attributes":{"ciudad":"Santiago","comuna":"Chile","giro":"2332","tax_id":"12053214-6","vat_status_code":"consumidor_final"}}}'
    headers:
      Authorization:
      - your_magic_api_key;
        user=601
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"5e68e401a02181a94d3116aa705d8a90"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"16","type":"chile_invoicing_detail_seeds","attributes":{"vat_status_code":"consumidor_final","tax_id":"12053214-6","giro":"2332","ciudad":"Santiago","comuna":"Chile","created_at":"2019-01-28T21:09:43.000Z","updated_at":"2019-01-28T21:09:43.000Z"},"relationships":{"issue":{"data":{"id":"1521","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 28 Jan 2019 21:09:42 GMT
recorded_with: VCR 4.0.0
