---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/api_keys
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"type":"api_keys","write":false}}}'
    headers:
      Otp:
      - '984176'
      Authorization:
      - write_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"0460810d131c16d10d6d3d8874e51ffd"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"33","type":"api_keys","attributes":{"write":false,"token":"dec136de51b8c87558f4de500c3be46d38906425ebcb009142af651194839e836c66d88a23b35e73"}}}'
  recorded_at: Sun, 02 Dec 2018 23:50:59 GMT
recorded_with: VCR 4.0.0
