---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/api_keys
    body:
      encoding: UTF-8
      string: '{"data":{"type":"api_keys","attributes":{"type":"api_keys","write":true}}}'
    headers:
      Otp:
      - '984176'
      Authorization:
      - write_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d05f9f58f7959b64bdd5a5fb3ac72ec2"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"34","type":"api_keys","attributes":{"write":true,"token":"44e86d0b97b873c157dba9eed595997003a355e96a9ca851d7dc944677457edc64d348f16d6c85bf"}}}'
  recorded_at: Sun, 02 Dec 2018 23:50:59 GMT
recorded_with: VCR 4.0.0
