---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/note_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"note_seeds","attributes":{"type":"note_seeds","title":"Identification
        note","body":"These are custom notes"}}}'
    headers:
      Authorization:
      - 68736233ac5ee1bb57cd69b241a97be564d3f6b2d1ca2fa7702c3872063d54d7554a6c9e81ba44fc
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"ec26b3cefae96dc91e431707b144ba65"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"351","type":"note_seeds","attributes":{"title":"Identification
        note","body":"These are custom notes","created_at":"2019-01-22T19:56:09.000Z","updated_at":"2019-01-22T19:56:09.000Z"},"relationships":{"issue":{"data":{"id":"1435","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Tue, 22 Jan 2019 19:56:09 GMT
recorded_with: VCR 4.0.0
