---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/note_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"note_seeds","attributes":{"title":"Identification
        note","body":"These are custom notes"}}}'
    headers:
      Authorization:
      - your_magic_api_key;
        user=601
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4f8b0cb669003deede0e4ae443656135"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"353","type":"note_seeds","attributes":{"title":"Identification
        note","body":"These are custom notes","created_at":"2019-01-28T20:33:21.000Z","updated_at":"2019-01-28T20:33:21.000Z"},"relationships":{"issue":{"data":{"id":"1521","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 28 Jan 2019 20:33:21 GMT
recorded_with: VCR 4.0.0
