---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/note_seeds
    body:
      encoding: UTF-8
      string: '{"data":{"type":"note_seeds","attributes":{"type":"note_seeds","title":"Identification
        note","body":"These are custom notes"}}}'
    headers:
      Authorization:
      - write_level_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"032c194647a626efc8a5840403b94954"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"note_seeds","attributes":{"title":"Identification
        note","body":"These are custom notes","created_at":"2018-12-03T00:50:34.000Z","updated_at":"2018-12-03T00:50:34.000Z"},"relationships":{"issue":{"data":{"id":"2","type":"issues"}},"attachments":{"data":[]}}}}'
  recorded_at: Mon, 03 Dec 2018 00:50:34 GMT
recorded_with: VCR 4.0.0
