---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/orderbooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"a6cbbc9774b656dfac11a197c10c9c06"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1","type":"orderbooks","attributes":{"code":"btc_usd","base":{"code":"btc","decimals":8},"quote":{"code":"usd","decimals":2}}},{"id":"8","type":"orderbooks","attributes":{"code":"bch_usd","base":{"code":"bch","decimals":8},"quote":{"code":"usd","decimals":2}}},{"id":"5","type":"orderbooks","attributes":{"code":"btc_ars","base":{"code":"btc","decimals":8},"quote":{"code":"ars","decimals":2}}},{"id":"11","type":"orderbooks","attributes":{"code":"btc_clp","base":{"code":"btc","decimals":8},"quote":{"code":"clp","decimals":2}}},{"id":"10","type":"orderbooks","attributes":{"code":"btc_pyg","base":{"code":"btc","decimals":8},"quote":{"code":"pyg","decimals":2}}},{"id":"12","type":"orderbooks","attributes":{"code":"btc_uyu","base":{"code":"btc","decimals":8},"quote":{"code":"uyu","decimals":2}}}]}'
  recorded_at: Fri, 18 Jan 2019 17:39:08 GMT
recorded_with: VCR 4.0.0
