---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/sells?filter%5Bdays%5D=15&filter%5Borderbook_code%5D=btc_usd&limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d6b91bfa361fcd0a8b974f62b910a8cf"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"159865","type":"sells","attributes":{"created_at":"2019-01-08T19:44:48.938Z","coin_amount":0.00751251,"cash_amount":30.01755121,"fee":0.07523195,"price":4005.68426619,"fee_currency":"USD","fee_decimals":2,"orderbook_code":"btc_usd"},"relationships":{"order":{"data":{"id":"35357891","type":"asks"}}}},{"id":"159862","type":"sells","attributes":{"created_at":"2019-01-08T19:43:34.534Z","coin_amount":0.00248748,"cash_amount":9.975,"fee":0.025,"price":4020.13208048,"fee_currency":"USD","fee_decimals":2,"orderbook_code":"btc_usd"},"relationships":{"order":{"data":{"id":"35357891","type":"asks"}}}},{"id":"159842","type":"sells","attributes":{"created_at":"2019-01-08T19:22:26.890Z","coin_amount":0.00750867,"cash_amount":29.97305335,"fee":0.07512043,"price":[...]
