---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/sells
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"9caa5e40eb0fe5acef5d74a26f3ba6fe"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"42","type":"sells","attributes":{"created_at":"2018-11-30T22:23:13.836Z","coin_amount":3.0,"cash_amount":5985.0,"fee":15.0,"price":2000.0,"fee_currency":"ARS","fee_decimals":2},"relationships":{"orderbook":{"data":{"id":"5","type":"orderbooks"}},"order":{"data":{"id":"38","type":"asks"}}}},{"id":"41","type":"sells","attributes":{"created_at":"2018-11-30T22:22:46.584Z","coin_amount":2.0,"cash_amount":1995.0,"fee":5.0,"price":1000.0,"fee_currency":"ARS","fee_decimals":2},"relationships":{"orderbook":{"data":{"id":"5","type":"orderbooks"}},"order":{"data":{"id":"37","type":"asks"}}}},{"id":"40","type":"sells","attributes":{"created_at":"2018-11-30T22:22:31.312Z","coin_amount":2.0,"cash_amount":1995.0,"fee":5.0,"price":1000.0,"fee_currency":"ARS","[...]
