---
http_interactions:
- request:
    method: get
    uri: https://bitex.la/api/sells
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - my_awesome_api_key
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"6b0423ac02b2a1f5c85d0927136f2c12"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"162688","type":"sells","attributes":{"created_at":"2019-01-16T19:27:31.178Z","coin_amount":0.00282474,"cash_amount":9.975,"fee":0.025,"price":3540.14176434,"fee_currency":"USD","fee_decimals":2,"orderbook_code":"bch_usd"},"relationships":{"order":{"data":{"id":"36106900","type":"asks"}}}},{"id":"161266","type":"sells","attributes":{"created_at":"2019-01-14T13:47:52.468Z","coin_amount":0.00499999,"cash_amount":104329.2410205,"fee":261.47679453,"price":20918143.56300768,"fee_currency":"PYG","fee_decimals":2,"orderbook_code":"btc_pyg"},"relationships":{"order":{"data":{"id":"35888964","type":"asks"}}}},{"id":"161264","type":"sells","attributes":{"created_at":"2019-01-14T13:45:04.320Z","coin_amount":0.00499999,"cash_amount":104340.46568294,"[...]
