---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/sells?filter%5Bdays%5D=10&filter%5Borderbook_code%5D=btc_usd&limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - read_level
      Version:
      - '2.0'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"b9287904e656e830023b2780aa323ebc"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"43","type":"sells","attributes":{"created_at":"2018-12-02T00:25:06.632Z","coin_amount":4.0,"cash_amount":1995.0,"fee":5.0,"price":500.0,"fee_currency":"USD","fee_decimals":2},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}},"order":{"data":{"id":"41","type":"asks"}}}},{"id":"39","type":"sells","attributes":{"created_at":"2018-11-30T21:53:40.966Z","coin_amount":2.0,"cash_amount":299.25,"fee":0.75,"price":150.0,"fee_currency":"USD","fee_decimals":2},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}},"order":{"data":{"id":"33","type":"asks"}}}},{"id":"38","type":"sells","attributes":{"created_at":"2018-11-30T21:53:40.935Z","coin_amount":0.89,"cash_amount":88.7775,"fee":0.2225,"price":100.0,"fee_currency":"USD","fee_decimals":2},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}},"order":{"data":{"id":"32","type":"asks"}}}},{"id":"37","type":"sells","attributes":{"created_at":"2018-11-30T21:53:24.698Z","coin_amount":1.11,"cash_amount":110.7225,"fee":0.2775,"price":100.0,"fee_currency":"USD","fee_decimals":2},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}},"order":{"data":{"id":"32","type":"asks"}}}},{"id":"34","type":"sells","attributes":{"created_at":"2018-11-30T21:51:49.193Z","coin_amount":2.0,"cash_amount":100.149,"fee":0.251,"price":50.2,"fee_currency":"USD","fee_decimals":2},"relationships":{"orderbook":{"data":{"id":"1","type":"orderbooks"}},"order":{"data":{"id":"31","type":"asks"}}}}],"included":[{"id":"1","type":"orderbooks","attributes":{"code":"btc_usd","base":{"code":"btc","decimals":8},"quote":{"code":"usd","decimals":2}}}]}'
  recorded_at: Sun, 02 Dec 2018 00:25:53 GMT
recorded_with: VCR 4.0.0
